@use '../../assets/styles/tools/responsive';
@use '../../assets/styles/settings/spacing';

$padding-inline: 30px;

.root {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr;

	> * {
		grid-column: 1;
		grid-row: 1;
	}
}

.bg {
	background: linear-gradient(35deg, #96d9ed 0%, #d9cfff 45.19%, #fbecd6 98.9%);
}

.container {
	max-width: 1440px;
	width: 100%;
	margin-inline: auto;
}

.grid {
	display: grid;
	grid-template-columns: $padding-inline minmax(0, 2fr) minmax(0, 1fr) $padding-inline;
	padding: 60px 0;
	align-items: start;

	@media (width >= 1024px) {
		padding: 0 0 60px;
	}
}

.heading {
	pointer-events: none;

	@media (width >= 1024px) {
		text-align: center;
		align-items: center;
	}

	&Wrapper {
		padding: 60px 0 30px 25px;

		@media (width >= 1024px) {
			max-width: 1057px;
			margin-inline: auto;
			padding: 60px;
			background-color: #f0dff6;
		}
	}
}

.subHeading {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 600;
}

.mainHeading {
	@media (width >= 1024px) {
		max-width: 790px;
		margin-inline: auto;
	}
}

.map {
	grid-column: 1 / -1;
	position: relative;

	// safe space for map
	aspect-ratio: 1018 / 1024;

	> :first-child {
		position: absolute;
		inset: auto -6% 0 -12%;

		@media (width >= 1024px) {
			inset: auto 0 0 -10%;
		}
	}

	@media (width >= 1024px) {
		grid-column: 1 / 3;
	}
}

.info {
	grid-column: 2 / -2;

	@media (width >= 1024px) {
		padding-top: 75%;
		grid-column: 3;
	}
}

.currentPoi {
	display: flex;
	flex-flow: column;
	gap: 60px;

	&__grid {
		display: flex;
		gap: 20px;
		align-items: flex-start;
	}

	&__name {
		font-weight: 600;
		font-size: 22px;
	}

	&__icon {
		position: relative;
		top: 4px;
		flex-shrink: 0;
	}

	&__spacer {
		@include responsive.mq($from: 1300) {
			display: none;
		}
	}
}

.hasRichTextHeading {
	grid-template-rows: repeat(2, minmax(0, 1fr)) auto;
	grid-template-columns: repeat(1, minmax(0, 1fr));

	.bg {
		grid-row: 1 / -1;

		@media (width >= 1024px) {
			grid-row: 2 / -1;
		}
	}

	.heading {
		grid-row: 1 / span 2;
	}

	.grid {
		grid-row: 3;
		padding-top: 0;
	}
}
