@use 'assets/styles/settings/font-sizes';
@use '/assets/styles/tools/responsive';

.card {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;

	.imageLink {
		position: relative;
		display: block;
		width: 100%;
	}

	img {
		display: block;
		width: 100%;
		object-position: center;
		object-fit: cover;
		flex: 0 0 auto;
	}

	&.big {
		@supports (aspect-ratio: 1 / 1) {
			img {
				aspect-ratio: 1 / 1;
			}
		}

		@supports not (aspect-ratio: 1 / 1) {
			.imageLink {
				&:before {
					display: block;
					content: '';
					width: 100%;
					padding-top: 100%;
				}
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.cardContent {
			width: calc(100% - 48px);
			margin-top: -16%;

			@include responsive.mq($until: large_tablet) {
				width: 100%;
				margin-top: 0;
			}
		}
	}

	&.small {
		@supports (aspect-ratio: 320 / 220) {
			img {
				aspect-ratio: 320 / 220;
			}
		}

		@supports not (aspect-ratio: 320 / 220) {
			.imageLink {
				&:before {
					display: block;
					content: '';
					width: 100%;
					padding-top: calc(220 / 320) * 100%;
				}
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		h4 {
			font-size: 22px;
			line-height: 1.18;
		}
	}
}

.cardContent {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	flex: 1 0 auto;

	padding: 24px;
	width: 100%;

	background-color: white;

	h4 {
		flex: 0 1 auto;
		line-height: 1.23;
		margin-bottom: 24px;

		a {
			text-decoration: none;
		}

		@include responsive.mq($until: large_tablet) {
			font-size: 22px;
			line-height: 1.09;
		}
	}
}

.dateAndLabel {
	flex: 0 1 auto;

	font-size: font-sizes.$size-xxs;

	time {
		text-transform: uppercase;
	}
}

.tags {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	flex: 0 1 auto;
	padding: 0;
	margin: 0;
	gap: 4px;

	li {
		display: inline-block;
		padding: 6px 8px 6px;

		background-color: rgba(252, 249, 238, 0.7);

		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 12px;
		line-height: 1;
	}
}
