@use '../../assets/styles/tools/responsive';

.container {
  margin-top: 60px;
  margin-bottom: 60px;

  @include responsive.mq($from: large_tablet) {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

.carousel {
  width: 100%; 

  &--bg {
    .container {
      padding-top: 60px;
    
      @include responsive.mq($from: large_tablet) {
        padding-top: 120px;
      }
    }

    &-orange {
      background: linear-gradient(91.88deg, #FFE9B0 0%, #F9C965 37.36%, #FF9E45 100%);
      background-size: 100% 65%;
      background-repeat: no-repeat;
    }
  }

  @include responsive.mq($from: large_tablet) {
    background-size: 100% 65%;
  }
}

