@use '../tools/responsive';

.hidden {
	display: none;
}

.hidden\@mobile {
	@include responsive.mq($until: tablet) {
		display: none;
	}
}

.hidden\@desktop {
	@include responsive.mq($from: tablet) {
		display: none;
	}
}
