@use '../tools/etc';

.bare-list {
	@include etc.bare_list;
}

.special-list {
	list-style-type: none;

	li:before {
		content: '\2714\0020 ';
		display: inline-block;
		margin-left: -20px;
		margin-right: -2px;
	}
}

.list-links {
	margin: 0 0 20px;
	padding: 0;
	display: flex;
	> li {
		margin: 0 1rem 0 0;
	}
}
