@use '../settings/spacing';
@use '../tools/responsive';

// example for responsive
// .mt--s\@mobile {
//   @include responsive.mq($until: desktop) {
//     margin-top: spacing.$xs;
//   }
// }

.m--0 {
	margin: 0;
}

.m--a {
	margin: auto;
}

.mt--0 {
	margin-top: 0;
}

// top
.mt--xxxs {
	margin-top: spacing.$xxxs;
}
.mt--xxs {
	margin-top: spacing.$xxs;
}
.mt--xs {
	margin-top: spacing.$xs;
}
.mt--s {
	margin-top: spacing.$s;
}
.mt--m {
	margin-top: spacing.$m;
}
.mt--l {
	margin-top: spacing.$l;
}
.mt--xl {
	margin-top: spacing.$xl;
}
.mt--xxl {
	margin-top: spacing.$xxl;
}
.mt--xxxl {
	margin-top: spacing.$xxxl;
}

// left
.ml--xxxs {
	margin-left: spacing.$xxxs;
}
.ml--xxs {
	margin-left: spacing.$xxs;
}
.ml--xs {
	margin-left: spacing.$xs;
}
.ml--s {
	margin-left: spacing.$s;
}
.ml--m {
	margin-left: spacing.$m;
}
.ml--l {
	margin-left: spacing.$l;
}
.ml--xl {
	margin-left: spacing.$xl;
}
.ml--xxl {
	margin-left: spacing.$xxl;
}
.ml--xxxl {
	margin-left: spacing.$xxxl;
}
.ml--a {
	margin-left: auto;
}
// top margins
.-mt--1,
.-my--1,
.-m--1 {
	margin-top: -10px !important;
}

.-mt-0,
.-my-0,
.-m-0 {
	margin-top: 0 !important;
}

.-mt-1,
.-my-1,
.-m-1 {
	margin-top: 10px !important;
}

.-mt-2,
.-my-2,
.-m-2 {
	margin-top: 20px !important;
}

.-mt-3,
.-my-3,
.-m-3 {
	margin-top: 30px !important;
}

.-mt-4,
.-my-4,
.-m-4 {
	margin-top: 40px !important;
}

.-mt-5,
.-my-5,
.-m-5 {
	margin-top: 50px !important;
}

.-mt-6,
.-my-6,
.-m-6 {
	margin-top: 60px !important;
}

.-mt-7,
.-my-7,
.-m-7 {
	margin-top: 70px !important;
}

.-mt-8,
.-my-8,
.-m-8 {
	margin-top: 80px !important;
}

.-mt-9,
.-my-9,
.-m-9 {
	margin-top: 90px !important;
}

.-mt-10,
.-my-10,
.-m-10 {
	margin-top: 100px !important;
}

// bottom margins
.-mb-0,
.-my-0,
.-m-0 {
	margin-bottom: 0 !important;
}

.-mb-1,
.-my-1,
.-m-1 {
	margin-bottom: 10px !important;
}

.-mb-2,
.-my-2,
.-m-2 {
	margin-bottom: 20px !important;
}

.-mb-3,
.-my-3,
.-m-3 {
	margin-bottom: 30px !important;
}

.-mb-35,
.-my-35,
.-m-35 {
	margin-bottom: 35px !important;
}

.-mb-4,
.-my-4,
.-m-4 {
	margin-bottom: 40px !important;
}

.-mb-5,
.-my-5,
.-m-5 {
	margin-bottom: 50px !important;
}

.-mb-6,
.-my-6,
.-m-6 {
	margin-bottom: 60px !important;
}

.-mb-7,
.-my-7,
.-m-7 {
	margin-bottom: 70px !important;
}

.-mb-8,
.-my-8,
.-m-8 {
	margin-bottom: 80px !important;
}

.-mb-8,
.-my-8,
.-m-8 {
	margin-bottom: 80px !important;
}
.-mb-9,
.-my-9,
.-m-9 {
	margin-bottom: 90px !important;
}
.-mb-10,
.-my-10,
.-m-10 {
	margin-bottom: 100px !important;
}

// bottom
.mb--xxxs {
	margin-bottom: spacing.$xxxs;
}
.mb--xxs {
	margin-bottom: spacing.$xxs;
}
.mb--xs {
	margin-bottom: spacing.$xs;
}
.mb--s {
	margin-bottom: spacing.$s;
}
.mb--m {
	margin-bottom: spacing.$m;
}
.mb--l {
	margin-bottom: spacing.$l;
}
.mb--xl {
	margin-bottom: spacing.$xl;
}
.mb--xxl {
	margin-bottom: spacing.$xxl;
}
.mb--xxxl {
	margin-bottom: spacing.$xxxl;
}

// right
.mr--xxxs {
	margin-right: spacing.$xxxs;
}
.mr--xxs {
	margin-right: spacing.$xxs;
}
.mr--xs {
	margin-right: spacing.$xs;
}
.mr--s {
	margin-right: spacing.$s;
}
.mr--m {
	margin-right: spacing.$m;
}
.mr--l {
	margin-right: spacing.$l;
}
.mr--xl {
	margin-right: spacing.$xl;
}
.mr--xxl {
	margin-right: spacing.$xxl;
}
.mr--xxxl {
	margin-right: spacing.$xxxl;
}
.mr--a {
	margin-right: auto;
}
