@use '../settings/colors';

.color-white {
	color: colors.$white;
}
.color-black {
	color: colors.$base_text_color;
}
.color-purple {
	color: colors.$purple;
}
.color-blue {
	color: colors.$blue;
}
.color-teal {
	color: colors.$teal;
}
.color-red {
	color: colors.$red;
}
.color-pink {
	color: colors.$pink;
}
.color-dark-green {
	color: colors.$dark_green;
}
.color-orange {
	color: colors.$orange;
}
.color-success {
	color: colors.$success;
}
.color-error {
	color: colors.$error;
}
.color-warning {
	color: colors.$warning;
}
