@use '../settings/font-sizes';
@use '../tools/responsive';

.text-standfirst {
	font-size: font-sizes.$size-xxl;
	line-height: font-sizes.$h-lh;

	@include responsive.mq($from: wide) {
		font-size: font-sizes.$size-xxxl;
	}
}

.text-intro {
	font-size: font-sizes.$size-xl;
	line-height: font-sizes.$h-lh;

	@include responsive.mq($from: wide) {
		font-size: font-sizes.$size-xxl;
	}
}

.text-body {
	font-size: font-sizes.$size-m;
	line-height: font-sizes.$h-lh;
}

.text-body-small {
	font-size: font-sizes.$size-s;
	line-height: font-sizes.$h-lh;
}

.text-small {
	font-size: font-sizes.$size-xs;
	line-height: font-sizes.$h-lh;
}
