@use '../settings/spacing';
@use '../settings/content-size';
@use '../tools/responsive';
@use '../mixins';

//responsive
@import '~sass-mq';

.results-listing {
	padding: 0;
	margin: 0;
	max-width: 880px;
	width: 100%;
	.results-item {
		padding: 2rem;
		background: var(--softgrad);
		margin: 0 0 1rem 0;
		display: flex;

		@include mq($until: tablet) {
			flex-wrap: wrap;
			padding: 0;
			.card__tags {
				display: flex;
			}
		}
	}
}

.results-desc {
	max-width: 480px;
	width: 100%;
	margin-right: 2rem;
	@include mq($until: tablet) {
		order: 2;
	}
}
.results-placeholder {
	@include mq($until: tablet) {
		order: 1;
		margin-bottom: 1rem;
		width: 100%;
	}
}
