@use '../settings/spacing';
@use '../tools/responsive';

.block-card {
	padding-top: 50px;
	padding-bottom: 50px;

	&__heading {
		margin-bottom: spacing.$xxxl;
	}

	.card {
		&__heading {
			margin-bottom: spacing.$l;
		}

		&__image {
			@include responsive.mq($from: tablet) {
				padding-top: 28%;
			}
		}
	}
}
