@use '../settings/spacing';
@use '../settings/colors';
@use '../settings/font-weights';
@use '../settings/font-sizes';
@use '../mixins';
@use '../tools/responsive';

.block-logo {
	padding: spacing.$xl 0;
	background: var(--sophisticated);

	&__row {
		margin-left: -(spacing.$m);
		margin-right: -(spacing.$m);
	}

	&__col {
		// padding: 0 spacing.$m;
		// max-width: 240px;
		// height: 154px;
		// width: 180px;
		position: relative;
	}

	.image-box {
		padding: unset;
	}

	img {
		@include mixins.animate(transform);
	}

	a {
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
}
