@use '../settings/spacing';
@use '../settings/font-sizes';
@use '../tools/responsive';

.block-society-target {
	margin-bottom: 40px;

	&__heading {
		@include responsive.mq($from: large_tablet) {
			font-size: 42px;
			margin-bottom: 52px;
		}
	}

	&__list {
		.society-target {
			&:not(:last-child) {
				margin-bottom: 14px;
			}
		}
	}
}
