@use '../settings/spacing';
@use '../settings/content-size';
@use '../tools/responsive';
@use '../mixins';

//responsive
@import '~sass-mq';

.page-press-footer {
	max-width: 100%;
	.footer-h2 {
		i {
			display: block;
			@include mq($until: large_tablet) {
				display: inline;
			}
		}
	}
}
