@use '../settings/spacing';
@use '../settings/colors';
@use '../settings/font-sizes';
@use '../settings/font-weights';
@use '../tools/responsive';
@use '../tools/etc';
@use '../mixins';

.block-latest-stories {
	padding-top: 60px;
	padding-bottom: 70px;
	overflow: hidden;

	&__link-wrapper {
		@include responsive.mq($from: large_tablet) {
			display: none;
		}
	}

	&__desktop {
		@include responsive.mq($until: large_tablet) {
			display: none;
		}
	}

	&__mobile {
		@include responsive.mq($from: large_tablet) {
			display: none;
		}
	}

	&__link-wrapper {
		.link {
			&__text {
				font-size: calc(font-sizes.$size-l + 2px);
			}
		}
	}

	.heading-stories {
		.link {
			@include responsive.mq($until: large_tablet) {
				display: none;
			}
		}
	}
}

.latest-stories-slider {
	@include responsive.mq($from: large_tablet) {
		padding-bottom: 54px;
		margin-bottom: spacing.$s;
	}

	.slick-slider {
		margin-bottom: spacing.$l;
	}

	.slick-list {
		margin-bottom: spacing.$m;
	}

	.card {
		@include responsive.mq($until: large_tablet) {
			height: 100%;
		}
	}
}

.latest-stories {
	@include responsive.mq($from: large_tablet) {
		display: flex;
		flex-wrap: wrap;
		margin-left: -(spacing.$xxs);
		margin-right: -(spacing.$xxs);
	}

	@include responsive.mq($from: wide) {
		margin-left: -(spacing.$l);
		margin-right: -(spacing.$l);
	}

	&__col {
		@include responsive.mq($from: tablet) {
			width: 33.33%;
			padding: 0 spacing.$xxs;
		}

		@include responsive.mq($from: wide) {
			padding: 0 spacing.$l;
		}

		//margin-bottom: 2rem;
		//&:nth-child(1),
		//&:nth-child(3),
		//&:nth-child(3n + 4),
		//&:nth-child(3n + 6) {
		//  //padding-top: spacing.$l;
		//}
	}
}
