@use '../settings/spacing';
@use '../settings/content-size';
@use '../tools/responsive';
@use '../mixins';

//responsive
@import '~sass-mq';

.promo-content {
	width: 100%;
	//margin: 4rem auto;
	margin: 0 auto 0;
	display: flex;
	flex-direction: row;
	padding: 5rem 0;

	@include mq($until: large_tablet) {
		flex-wrap: wrap;
		padding: 2rem 0;
	}

	.container {
		display: flex;
		flex-direction: row;
		width: inherit;

		@include mq($until: large_tablet) {
			padding: 0;
			//display: block;
			flex-wrap: wrap;
			position: relative;
		}

		.content-blurb,
		.content-img {
			// max-width: 664px;
			width: 100%;

			div {
				span {
					object-fit: cover !important;
				}
			}
		}
	}

	.content-blurb {
		max-width: 50%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--sophisticated);

		@include mq($until: large_tablet) {
			max-width: 100%;
			order: 2;
			margin-bottom: 2rem;
		}
	}

	.content-img {
		max-width: 50%;
		width: 100%;
		margin-left: auto;
		position: relative;

		span {
			position: initial !important;

			img {
				object-fit: cover !important;
			}
		}
		.content-img-wrapper {
			// min-width: 770px;
			// min-height: 430px;
			// height: 100%;

			height: 100%;
			width: 100%;
			position: relative;

			&.narrow {
				img {
					max-width: 100%;
					min-width: 100%;
					object-fit: cover;
					height: 100%;
				}
			}

			span {
				height: 100%;
				width: 100%;

				img {
					height: 100%;
					width: 100%;
					object-fit: cover !important;
				}
			}
		}

		span {
			height: 100%;
			width: 100%;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover !important;
			}
		}

		> div {
			height: 100%;
			width: 100%;
		}

		.image-box {
			&.align-items {
				@include mq($from: large_tablet) {
					display: flex;
					align-items: center;
				}
			}

			> div {
				width: 100%;
			}
		}

		@include mq($until: large_tablet) {
			max-width: 100%;
			order: 1;
			max-height: 400px;
			overflow: hidden;
		}
	}

	.content-centered {
		padding: 5rem;

		@include mq($until: large_tablet) {
			padding: 2rem;
			width: 100%;
		}

		&--wide {
			padding: 5rem;

			@include mq($until: large_tablet) {
				padding: 1rem;
				width: 100%;
			}
		}
	}

	&.fullbleed-bg {
		background: var(--sophisticated);

		.content-blurb {
			background: transparent !important;
		}
	}
}

.promo-content {
	.content-img {
		order: 2;
	}

	.content-blurb {
		order: 1;
	}

	@include mq($until: large_tablet) {
		.content-img {
			order: 1;
		}

		.content-blurb {
			order: 2;
		}
	}

	.flipped {
		.content-img {
			order: 1;
		}

		.content-blurb {
			order: 2;
		}
	}

	> .container {
		@include mq($until: large_tablet) {
			margin: 0 2rem;
		}
	}
}

.vertical-align-center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;

	@include mq($until: large_tablet) {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		display: block;
	}
}

.black-background-important {
	background-color: black !important;
	color: white !important;
}
