@use '../settings/spacing';
@use '../settings/content-size';
@use '../tools/responsive';
@use '../mixins';

.block-quote-slider {
	overflow: hidden;
	max-width: 1376px;
	width: 100%;
	margin: 0 auto;
	position: relative;

	&.block-quote-slider--flipped {
		.blockquote-a {
			margin-left: auto;
		}

		.slick-next {
			right: 24px;

			@include responsive.mq($from: large_tablet) {
				left: 33%;
				right: auto;
			}
		}

		.slick-prev {
			left: 24px;
			right: auto;

			@include responsive.mq($from: large_tablet) {
				left: 13%;
			}
		}

		.slider__progress {
			position: absolute;
			bottom: 23px;
			left: 50%;
			transform: translateX(-50%);

			@include responsive.mq($from: large_tablet) {
				//bottom: 100px;
				left: 25%;
				right: auto;
			}
		}
	}

	.slick-arrow {
		top: auto;
		display: block;
		width: 50px;
		height: 50px;
		bottom: 0;

		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
	}

	.slick-next {
		right: 24px;

		@include responsive.mq($from: large_tablet) {
			right: 13%;
		}
	}

	.slick-prev {
		left: 24px;

		@include responsive.mq($from: large_tablet) {
			left: auto;
			right: 33%;
		}
	}

	.slider__progress {
		position: absolute;
		bottom: 23px;
		left: 50%;
		transform: translateX(-50%);

		@include responsive.mq($from: large_tablet) {
			//bottom: 100px;
			left: auto;
			right: 19%;
		}
	}
}
