@use '../settings/spacing';
@use '../settings/colors';
@use '../settings/font-sizes';
@use '../settings/font-weights';
@use '../tools/responsive';
@use '../tools/etc';
@use '../mixins';

.block-stories {
	&__form {
		width: 100%;
		margin: 0 auto spacing.$m;
		@include mixins.animate(opacity);

		@include responsive.mq($from: tablet) {
			margin-bottom: spacing.$xxxl;
		}

		&.loading {
			pointer-events: none;
			opacity: 0.5;
		}
	}

	.block-search-input {
		&--large {
			.s-input {
				border-radius: 0 !important;
				input {
					border-radius: 0 !important;
					padding: spacing.$xxs 0;
				}
			}
		}

		.s-submit {
			.s-submit-icon {
				@include responsive.mq($from: tablet) {
					max-width: 0.7em !important;
				}
			}
		}
	}

	&__search {
		margin-bottom: spacing.$m;

		@include responsive.mq($from: tablet) {
			margin-bottom: calc(spacing.$xxxl + spacing.$s);
		}
	}

	&__filters {
		@include responsive.mq($from: mobile_md) {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			width: fit-content;
			margin: -8px auto -8px;
		}

		@include responsive.mq($from: wide) {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
	}

	&__form-field {
		flex: 1;
		margin-bottom: spacing.$s;
		min-width: 260px;

		@include responsive.mq($from: mobile_md) {
			margin: 0 spacing.$xxs spacing.$s;
		}
	}

	&__list-stories {
		@include responsive.mq($from: mobile_md) {
			display: flex;
			flex-wrap: wrap;
			margin-left: -(spacing.$xxs);
			margin-right: -(spacing.$xxs);
			margin-bottom: spacing.$l;
		}
	}

	&__list-stories-col {
		@include responsive.mq($from: mobile_md) {
			padding: 0 spacing.$xxs;
			width: 50%;
		}

		@include responsive.mq($from: tablet) {
			width: 33.33%;
		}

		//removing transparent bgcolor for AA accessibility (contrasting)
		.card__body {
			.card__content {
				.card__tags {
					.card__tags-item {
						background-color: #fcf9ee;
						font-weight: 600;
					}
				}
			}
		}
	}

	&__not-found-message {
		width: 100%;
	}
}
input[type='search'] {
	-webkit-appearance: none;
}
.short-filter {
	padding: 1rem 0;
	width: 300px;
	margin: 0 auto;
	max-width: 100%;
}
