@use '../settings/spacing';
@use '../tools/responsive';

.block-visitor-experience {
	padding: 74px 0;

	.container {
		@include responsive.mq($from: large_tablet) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row-reverse;
		}
	}

	&__body {
		max-width: 384px;
		width: 100%;
		margin-right: spacing.$l;
		margin-bottom: spacing.$xxl;
	}

	&__text {
		@include responsive.mq($from: large_tablet) {
			font-size: 26px;
			margin-bottom: spacing.$xxl;
		}

		p {
			font-size: inherit;
		}
	}

	&__heading {
		@include responsive.mq($from: large_tablet) {
			font-size: 36px;
		}
	}

	&__image {
		flex: 0 1 858px;
		margin-bottom: spacing.$m;

		@include responsive.mq($from: large_tablet) {
			margin-bottom: 0;
		}

		img {
			width: 100%;
		}
	}
}
