@use '../settings/spacing';
@use '../settings/colors';
@use '../settings/font-sizes';
@use '../settings/font-weights';
@use '../tools/responsive';
@use '../tools/etc';
@use '../mixins';

.block-latest-news {
	//padding-top: 60px;
	// padding-bottom: 70px;
	overflow: hidden;
	width: 100%;

	&__link-wrapper {
		@include responsive.mq($from: large_tablet) {
			display: none;
		}
	}

	&__desktop {
		@include responsive.mq($until: large_tablet) {
			display: none;
		}
	}

	&__mobile {
		@include responsive.mq($from: large_tablet) {
			display: none;
		}
	}

	&__link-wrapper {
		.link {
			&__text {
				font-size: calc(font-sizes.$size-l + 2px);
			}
		}
	}

	.heading-news {
		.link {
			@include responsive.mq($until: large_tablet) {
				display: none;
			}
		}
	}

	.card__body {
		@include responsive.mq($until: tablet) {
			min-height: 200px;
		}

		@include responsive.mq($from: large_tablet) {
			padding: 28px 24px 20px;
			min-height: 240px;
		}
	}

	.heading-stories {
		margin-bottom: 24px;
	}
}

.latest-news-slider {
	@include responsive.mq($from: large_tablet) {
		padding-bottom: 54px;
		margin-bottom: spacing.$s;
	}

	.slick-slider {
		margin-bottom: spacing.$l;
	}

	.slick-list {
		margin-bottom: spacing.$m;
	}

	.card {
		@include responsive.mq($until: large_tablet) {
			height: 100%;
		}
	}
}

.latest-news {
	display: flex;
	flex-wrap: wrap;
	@include responsive.mq($from: large_tablet) {
		margin-left: -(spacing.$xxs);
		margin-right: -(spacing.$xxs);
	}

	@include responsive.mq($from: wide) {
		margin-left: -(spacing.$l);
		margin-right: -(spacing.$l);
	}

	&__col {
		padding: 0 spacing.$xxs;
		margin-bottom: 2rem;
		@include responsive.mq($until: mobile) {
			width: 100%;
		}
		@include responsive.mq($from: tablet, $until: large_tablet) {
			width: 33.333%;
			font-size: 24px;
			line-height: 1.2;
		}
		@include responsive.mq($from: large_tablet) {
			width: 33.333%;
		}
	}
}
