@use '../settings/spacing';
@use '../tools/responsive';

.block-brand-explorer {
	overflow: hidden;
	padding-top: spacing.$xxl;
	padding-bottom: spacing.$xxl;

	.categories-filter {
		@include responsive.mq($from: tablet) {
			margin-bottom: 70px;
		}
	}

	&__showing-message {
		margin-bottom: spacing.$l;
	}

	&__categories-filter-wrapper {
		@include responsive.mq($until: tablet) {
			display: none;
		}
	}

	&__categories-filter-mobile-wrapper {
		display: flex;
		margin: 0 - (spacing.$xxxs);

		@include responsive.mq($from: tablet) {
			display: none;
		}
	}

	&__categories-filter-mobile-item {
		flex: 1;
		margin: 0 spacing.$xxxs;
	}

	&__filter-toggler {
		width: 100%;
		margin-bottom: spacing.$s;

		@include responsive.mq($from: tablet) {
			display: none;
		}
	}

	&__checked-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		> li {
			&:not(:last-child) {
				margin-right: spacing.$s;
			}
		}
	}
}

.brand-explorer {
	@include responsive.mq($from: mobile_md) {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
	}

	&--all {
		.brand-explorer__col {
			&:nth-child(-n + 6) {
				@include responsive.mq($from: large_tablet) {
					width: 33.33%;
				}
			}
		}
	}

	&__col {
		@include responsive.mq($from: mobile_md) {
			padding: 0 5px;
			width: 50%;
		}

		@include responsive.mq($from: tablet) {
			width: 33.33%;
		}

		@include responsive.mq($from: large_tablet) {
			width: 25%;
		}
	}

	.brand-card {
		max-width: 100%;
		margin-bottom: spacing.$xxl;
	}
}
