@use '../tools/responsive';

.block-simple-intro {
	background: linear-gradient(
		103.66deg,
		#e6f4ff 0%,
		#e8f5ff 66.45%,
		#f6e7ff 98.34%
	);
	padding: 40px 0;

	&--without-children {
		padding-top: 140px;
	}

	.breadcrumbs {
		margin-bottom: 80px;

		@include responsive.mq($from: large_tablet) {
			margin-bottom: 116px;
		}
	}

	&__heading {
		@include responsive.mq($from: large_tablet) {
			margin-left: 110px;
		}
	}
}
