@use '../settings/spacing';
@use '../settings/font-sizes';
@use '../tools/responsive';
@use '../mixins';

.block-brands {
	overflow: hidden;

	.container {
		max-width: 1200px;
		// overflow: hidden;
	}

	&__heading-holder {
		max-width: 640px;
		width: 100%;
		margin: 0 auto;
	}

	&__heading {
		font-size: 36px;
		margin-bottom: spacing.$s;
	}

	&__text {
		font-size: font-sizes.$size-xl;
		margin-bottom: spacing.$xxxl;
	}

	&__list {
		@include responsive.mq($from: medium_wide) {
			margin: 0 -100px;
			overflow: hidden;
		}

		.slider {
			max-width: 1264px;
			width: 100%;
			margin: 0 auto;

			@include responsive.mq($from: mobile_md) {
				max-width: 480px;
			}

			@include responsive.mq($from: medium_wide) {
				max-width: 1264px;
			}

			.slick-slide {
				@include responsive.mq($from: medium_wide) {
					padding: 50px;
				}

				> div {
					@include responsive.mq($from: medium_wide) {
						transform-origin: center;
						@include mixins.animate(width transform);
					}
				}
			}

			.slick-center {
				> div {
					@include responsive.mq($from: medium_wide) {
						transform: translate(-84px, 0px);
						width: calc(100% + 172px);
						transform-origin: center;
						max-width: initial;
						flex: none;
						animation: all 0.3s linear;
					}
				}
			}

			.slick-arrow {
				top: 50%;
				width: 70px;
				height: 70px;
				background-color: rgba(196, 196, 196, 0.4);
				display: block;

				&.slick-next {
					@include responsive.mq($from: large_tablet) {
						right: -30px;
					}

					@include responsive.mq($from: medium_wide) {
						right: -30px;
					}
				}

				&.slick-prev {
					@include responsive.mq($from: large_tablet) {
						left: -30px;
					}

					@include responsive.mq($from: medium_wide) {
						left: -30px;
					}
				}
			}
		}
	}

	.brand {
		width: 100%;

		.image-box {
			width: 100%;
			height: 309px;
		}

		&__image {
			width: 100%;
			height: 100%;

			span {
				img {
					width: 100%;
					height: 100%;
					object-fit: cover !important;
				}
			}
		}
	}
}
