@use '../settings/font-face';

@import '~sass-mq';

.block-search-input {
	max-width: 650px;
	width: 100%;
	margin: 0 auto;
	position: relative;

	@include mq($from: mobile, $until: large_tablet) {
		padding: 2rem 0;
	}

	.search-label {
		font-family: font-face.$heading-base;
		font-size: 24px;
		font-weight: 400;
	}

	.s-form {
		flex: 1 auto;
		padding-right: 16px;
	}

	.s-input {
		display: flex;
		align-items: center;

		input {
			font-size: 1em;
			background: transparent;
			border: none;
			font-weight: inherit;
			border-bottom: solid 1px #000;
			//outline: none;
			text-indent: 15px;

			&::placeholder {
				color: #666666;
				opacity: 1; /* Firefox */
			}
			&:focus::placeholder {
				color: transparent;
				//  outline: none;
			}
		}
	}

	.s-hint {
		font-size: 22px;
		margin: 2rem 0 0 0rem;
		padding: 0;
		display: block;
		background-color: #fcf8ef;
		position: absolute;
		width: 100%;
		z-index: 5;

		li {
			margin: 0 0 0.5rem 0;
			.keyword {
				font-weight: bold;
			}
		}

		&.active {
			display: block;
		}
	}

	.s-keyword {
		width: 100%;
		font-weight: 400;
	}

	.s-submit {
		padding: 0;

		button {
			border: none;
			background: transparent;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
		}

		.s-submit-icon {
			margin: 0;
			vertical-align: middle;
		}
	}
}

// direction
.block-search-input--reversed {
	.s-form {
		padding-left: 16px;
		padding-right: 0px;
	}
	.s-input {
		flex-direction: row-reverse;
	}
}

// sizes
.block-search-input--middle {
	font-weight: 400;
	font-size: 24px;
	line-height: 30px;

	.s-input {
		input {
			padding: 8px 0;
		}

		@include mq($from: mobile, $until: large_tablet) {
			font-size: 22px;

			.link__icon {
				width: 30px;
			}
		}
	}
}

.block-search-input--large {
	font-weight: 100;
	@include mq($until: tablet) {
		padding: 0 24px;
	}

	@include mq($from: tablet) {
		font-size: 42px;
	}

	.s-input {
		input {
			padding: 6px 0;
			border-radius: 0;
			@include mq($from: tablet) {
				padding: 16px 0;
			}
		}

		@include mq($from: mobile, $until: large_tablet) {
			font-size: 22px;

			.link__icon {
				width: 38px;
			}
		}
	}
}
input[type='search'] {
	-webkit-appearance: none;
	// background-color: white;
}
