@use '../settings/spacing';
@use '../settings/colors';
@use '../settings/font-weights';
@use '../settings/font-sizes';
@use '../mixins';
@use '../tools/responsive';

.block-intro {
	padding-top: spacing.$xxl;
	padding-bottom: spacing.$xxl;

	@include responsive.mq($from: large_tablet) {
		padding-top: calc(spacing.$xxl * 2);
		padding-bottom: calc(spacing.$xxl);
	}

	&--violet {
		background: linear-gradient(
			166.49deg,
			rgba(242, 228, 236, 0) 6.5%,
			#ebdfee 89%
		);

		@include responsive.mq($from: large_tablet) {
			background: linear-gradient(
				180deg,
				#ebdfee 23.87%,
				rgba(242, 228, 236, 0) 96.86%
			);
		}
	}

	&--orange {
		background: linear-gradient(
			330.58deg,
			rgba(244, 184, 209, 0.7) -1.83%,
			rgba(247, 202, 199, 0.7) 18.14%,
			rgba(255, 245, 244, 0.7) 54.55%
		);

		@include responsive.mq($from: large_tablet) {
			background: linear-gradient(124.79deg, #fcf8dd 0%, #efd2b1 83.97%);
		}
	}

	&--yellow {
		background: linear-gradient(20.23deg, #fef9d9 -23.68%, #ffffff 90.03%);

		@include responsive.mq($from: large_tablet) {
			background: linear-gradient(180deg, #fef9d9 -21.77%, #ffffff 122.8%);
		}
	}

	&--without-description {
		.block-intro__main-content {
			@include responsive.mq($from: large_tablet) {
				max-width: 810px;
			}
		}
	}

	&--with-extra-padding {
		@include responsive.mq($from: large_tablet) {
			padding-bottom: 200px;
		}
	}

	.container {
		position: relative;
	}

	&__tags {
		font-size: font-sizes.$size-xs;
		margin-bottom: spacing.$m;

		@include responsive.mq($from: large_tablet) {
			margin-bottom: spacing.$xl;
		}
	}

	&__tags-separate {
		margin: 0 spacing.$xs;
	}

	&__description-text {
		font-size: font-sizes.$size-xl;
		word-break: break-word;

		@include responsive.mq($from: wide) {
			font-size: font-sizes.$size-xxxl;
		}
	}

	&__top {
		@include responsive.mq($from: large_tablet) {
			display: flex;
			justify-content: space-between;
			margin-bottom: spacing.$l;
		}
	}

	&__bottom {
		@include responsive.mq($from: large_tablet) {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__bottom-description {
		@include responsive.mq($from: large_tablet) {
			max-width: 555px;
			width: 100%;
			font-size: font-sizes.$size-m;
		}

		ul {
			margin: 0;
			padding-left: 20px;

			li {
				&:not(:last-child) {
					margin-bottom: spacing.$l;
				}
			}
		}
	}

	&__heading {
		margin-bottom: spacing.$xl;
	}

	&__main-content {
		@include responsive.mq($from: large_tablet) {
			max-width: 645px;
			margin-right: spacing.$s;
		}
	}

	&__description {
		margin-bottom: spacing.$xl;

		@include responsive.mq($from: large_tablet) {
			max-width: 432px;
			padding-top: calc(spacing.$xxxl * 2.6);
			margin-bottom: 0;
		}
	}

	&__description-text {
		@include responsive.mq($from: large_tablet) {
			margin-bottom: calc(spacing.$xxxl * 2);
		}
	}

	&__author-block {
		@include responsive.mq($until: large_tablet) {
			border-top: 1px solid colors.$base_text_color;
			padding-top: spacing.$s;
			margin-bottom: spacing.$xxl;
		}
	}

	.breadcrumbs {
		margin-bottom: spacing.$m;
	}

	.audio-player {
		margin-bottom: spacing.$m;
	}
}
