@use '../settings/spacing';

.block-people-stories {
	padding: spacing.$m 0;
	overflow: hidden;

	.heading-slider {
		margin-bottom: 40px;
	}

	&__slider-wrapper {
		max-width: 1184px;
		width: 100%;
		margin: 0 auto;
	}

	.slick-arrow {
		top: 30%;
	}
}
