@use '../settings/spacing';
@use '../settings/content-size';
@use '../tools/responsive';
@use '../mixins';

@use '../settings/font-weights';
@use '../settings/font-face';
@use '../settings/colors';
@use '../settings/font-sizes';

.search-report-block {
	margin: 0 auto 30px;
}

.selects-report-block {
	display: flex;
	margin: 0 -10px;

	.base-select {
		padding: 0 10px;
	}
}

.key-doc-wrapper {
	display: flex;
	flex-direction: row;
	max-width: 1376px;
	margin: 20px auto;

	//toggle code begins!
	.switch-wrap {
		margin-left: 10px;
		cursor: pointer;
		background: #fff;
		padding: 4px;
		width: 70px;
		height: 29px;
		border-radius: 19.5px;
		border: solid 1px #000;
		> input {
			position: absolute;
			opacity: 0;
			width: 0;
			height: 0;
		}
	}
	.switch {
		height: 100%;
		display: grid;
		grid-template-columns: 0fr 1fr 1fr;
		transition: 0.2s;
		position: relative;
		//ICYMI, pseudo elements are treated as grid items
		&::after {
			content: '';
			border-radius: 50%;
			background: #542671;
			grid-column: 2;
			transition: background 0.2s;
			width: 20px;
			height: 20px;
		}
		&::before {
			content: 'OFF';
			text-align: right;
			position: absolute;
			right: 6px;
			top: -2px;
		}
	}
	input:checked {
		+ .switch {
			grid-template-columns: 1fr 1fr 0fr;
			&::after {
				background-color: #542671;
				position: absolute;
				right: 0;
				transition: background 0.2s;
			}
			&::before {
				content: 'ON';
				text-align: left;
				position: absolute;
				left: 6px;
				top: -2px;
			}
		}
	}
	.flex-col-md-7 {
		.annual-results:last-child {
			//border-bottom: solid 2px #000;
		}
	}
}

.annual-report-block {
	display: flex;
	flex-direction: row;
	max-width: 1376px;
	margin: 0 auto 100px;

	.flex-col-md-7 {
		.annual-results:last-child {
			//border-bottom: solid 2px #000;
		}
	}
}

.year-title {
	font-size: font-sizes.$h1-mobile;
}

.annual-results {
	border-top: 2px solid #000;
	padding-top: 0.5rem;

	.ar-item {
		display: flex;
		cursor: pointer;

		h4,
		.h4-title {
			font-family: font-face.$heading-head;
			font-style: normal;
			font-weight: 600;
			font-size: 26px;
			line-height: 32px;
		}

		.toggle-close {
			margin-left: auto;
			border: none;
			outline: none;
			background-color: transparent;
			padding: 6px 10px;
			cursor: pointer;
		}

		.toggle-close::after {
			content: '\002B';
			color: #000;
			font-weight: bold;
			float: right;
			margin-top: -10px;
			font-size: 30px;
		}

		&.active {
			.toggle-close {
				&:after {
					content: '\2212';
				}
			}

			+ .ar-content {
				max-height: 2000px;
				transition: max-height 0.3s linear;
			}
		}
	}

	.ar-content {
		max-height: 0;
		transition: max-height 0.6s linear;
		overflow: hidden;

		.cta-view-online,
		.cta-download {
			font-family: font-face.$heading-head;
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 25px;
			text-decoration: none;
			display: inline-flex;
			align-items: center;
			vertical-align: middle;
			margin-right: 6px;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				bottom: -3px;
				left: 0;
				right: 0;
				width: 100%;
				height: 2px;
				background-color: transparent;
				transition: background-color 500ms linear;
			}

			&:hover {
				&::after {
					background-color: colors.$black;
				}
			}
		}

		.cta-download {
			span {
				font-family: font-face.$heading-head;
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 25px;
				&:last-child {
					font-weight: 300;
					font-size: 1rem;
					margin-left: 5px;
					text-transform: uppercase;
				}
			}
		}

		&__button-wrapper {
			margin-bottom: 80px;
		}
	}

	.results__list-links {
		li {
			margin: 0;

			&:not(:last-child) {
				&:after {
					content: '|';
					margin: 0 4px;
				}
			}

			.cta-view-online {
				margin: 0;
			}
		}
	}

	table.results {
		@include responsive.mq($until: medium_wide) {
			position: static;
		}

		@include responsive.mq($until: tablet) {
			width: 100% !important;
			margin-bottom: 3em;
		}

		tr {
			@include responsive.mq($until: tablet) {
				border-bottom: 0;
			}
		}

		td {
			.label {
				display: none;
			}
		}

		tr > td {
			@include responsive.mq($until: tablet) {
				margin: 0.5rem 0;
				padding: 1rem;
				width: 100%;
				display: block;
				background-color: #f5fbff;
				border-bottom: none;

				&.results-table-sub-heading {
					font-size: font-sizes.$h4-mobile;
					background-color: transparent;
					padding: 10px 0 0;
				}

				&.centered {
					justify-content: flex-start;
					align-items: flex-start;
				}

				&.mobile-hidden {
					display: none;
				}

				.label {
					display: inline-block;
					margin-left: 8px;
				}
			}
		}
	}
}

.doc-listing {
	.date-item {
		text-transform: uppercase;
		display: block;
		margin-bottom: 10px;
		font-size: 1rem;
	}

	table.results td {
		&:first-child {
			width: 100%;
			max-width: 65%;
		}
	}

	.results th {
		&:nth-child(2) {
			visibility: hidden;
		}
	}
}
