@use '../settings/spacing';
@use '../settings/content-size';
@use '../settings/font-sizes.scss';
@use '../settings/font-weights.scss';
@use '../settings/colors.scss';
@use '../tools/responsive';
@use '../tools/etc.scss';
@use '../mixins';
//responsive
@import '~sass-mq';

.three-column-block {
	margin: 0 auto 0 auto;
	max-width: 1200px;
	padding-top: 5rem;
	padding-bottom: 2rem;
	@include mq($until: medium_wide) {
		margin: 0 1rem 0 1rem !important;
	}
	h3 {
		padding-bottom: 2.5rem;
		@include mq($until: tablet) {
			padding-bottom: 1rem;
		}
		@include mq($until: mobile_md) {
			padding-bottom: 0;
		}
	}
}
.three-column-list {
	display: flex;
	padding: 0;
	margin: 1.5rem 0 0 0;
	flex-wrap: wrap;

	@include mq($until: tablet) {
		margin: 2.5rem 0 0 0 !important;
	}

	li {
		width: 40%;
		margin: 0 0 1rem 0;

		&:first-child {
			padding-right: 2rem;
			width: 30%;
			font-size: 1.05rem;
		}
		&:last-child {
			padding-right: 2rem;
			width: 30%;
			@include mq($until: tablet) {
				margin-top: 2rem;
			}
		}
		.value-heading {
			border-top: solid 2px #000;
			width: 70%;
			margin-left: auto;
			margin-right: 0;
			padding-top: 1rem;

			@include mq($until: tablet) {
				margin-left: unset !important;
				margin-right: unset !important;
				padding-top: 1rem;
			}

			.value-container {
				.large-value {
					font-size: 4rem;
					font-weight: 600;

					@include mq($until: large_tablet) {
						font-size: 2rem !important;
					}
					@include mq($until: tablet) {
						font-size: 4rem !important;
					}
					@include mq($until: mobile_md) {
						font-size: 4rem !important;
					}
				}
				.small-suffix {
					font-size: 1.8rem;
					font-weight: 600;
				}
			}
		}
		.value-text {
			width: 80%;
			font-size: 1.05rem;
		}

		@include mq($until: tablet) {
			width: 100% !important;
		}
	}
}
.three-column-footer {
	padding: 2rem 0 2rem 0;
	font-size: 0.85rem;
	> ol {
		margin: 1rem 0 1rem 0.5rem;
		padding: 0;
		font-size: 0.85rem;
		li {
			margin: 0 0 0.5rem 0;
		}
	}
}

.presentation-block {
	position: relative;
	overflow: visible;
	z-index: 10;
	padding: 36px 0;

	@include mq($from: wide) {
		padding: 36px 0 104px;
	}

	&:not(.presentation-block--with-image) {
		position: relative;

		.search-report-block {
			margin-bottom: 40px;
		}

		.container--profile-banner-wide {
			> .flex-col-md-6 {
				margin: 0 auto;
				width: 1050px;
			}
		}
	}

	&.presentation-block--with-image {
		position: relative;
	}

	.breadcrumbs {
		margin-bottom: 40px;
	}

	&__body {
		@include mq($from: large_tablet) {
			display: flex;
			justify-content: flex-end;
			flex-direction: row-reverse;
		}
	}

	&__title-secondary {
		font-size: 26px;
		line-height: 1;
		margin-bottom: 0;

		@include mq($from: tablet) {
			font-size: 40px;
		}

		@include mq($from: 1440px) {
			font-size: 76px;
		}

		em {
			@include mq($from: 1440px) {
				margin-left: -72px;
			}
		}

		p {
			@include mq($from: 1440px) {
				padding-left: 62px;
			}
		}
	}

	&__image {
		@include etc.fillBlockAbsolute();
	}

	.h1 {
		@include mq($until: wide) {
			font-size: 30px;
		}
	}

	&__subtitle {
		letter-spacing: 2px;
		text-align: center;

		@include mq($until: wide) {
			font-size: 12px;
		}

		@include mq($from: wide) {
			margin-bottom: 60px;
		}
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__left-col {
		width: 100%;

		@include mq($from: large_tablet) {
			margin-right: 88px;
			padding-top: 114px;
			max-width: 472px;
		}
	}

	&__right-col {
		width: 100%;
		margin-bottom: 40px;

		@include mq($from: large_tablet) {
			max-width: 656px;
			margin-bottom: 0;
		}
	}

	&__media {
		position: relative;
	}

	&__media-content {
		position: relative;
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 340px;
		width: 100%;
		margin: 0 auto;

		@include mq($from: tablet) {
			max-width: 440px;
		}

		@include mq($from: wide) {
			padding: 26px 84px;
			max-width: 650px;
		}
	}
}

.content-block {
	max-width: 100%;
	width: 100%;
	//margin: 2rem auto;
	//margin: 0 auto;
	margin: 0 auto 0;
	display: flex;
	flex-direction: row;
	position: relative;
	overflow: hidden;
	padding: 3rem 0;
	//background: var(--sophisticated);

	&.bott-marg {
		margin-bottom: 80px;
	}

	&.no-vertical-padding {
		padding-top: 0;
		padding-bottom: 0;
	}

	&.liquid-bg-feature {
		padding: 5rem 0;
		@include mq($until: tablet) {
			padding: 1rem 0;
			margin-bottom: 0px;
		}
	}

	@include mq($until: tablet) {
		flex-wrap: wrap;
	}

	.content-blurb {
		max-width: 430px;
		width: 100%;
		margin-right: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		//background: var(--sophisticated);
		@include mq($until: tablet) {
			max-width: 100%;
			order: 2;
			margin-right: 0;
		}

		&--wide {
			max-width: 650px;
			width: 100%;
			margin: 0 auto;
			@include mq($until: large_tablet) {
				max-width: 100%;
			}
		}
	}
	.content-img {
		// max-width: 770px;
		width: 100%;
		margin-left: auto;
		position: relative;

		.content-img-wrapper {
			// min-width: 770px;
			// min-height: 430px;
			// height: 100%;

			height: 100%;
			width: 100%;
			position: relative;

			div {
				height: 100%;
				width: 100%;
			}
		}
		&.alt {
			margin-left: 0;
			margin-right: 4rem;
		}

		@include mq($until: large_tablet) {
			max-width: 100%;
			order: 1;
			margin-bottom: 1rem;
			margin-right: 0 !important;
		}

		&--aside {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2rem;
			@include mq($until: large_tablet) {
				padding: 0;
			}
		}
		&--cont {
			padding: 2rem;
			@include mq($until: large_tablet) {
				padding: 0;
			}
		}
	}
	.content-50 {
		width: 100%;
		position: relative;
		border: solid 1rem transparent;
		margin: -0.5rem;
		.card__content {
			max-width: unset;
		}
	}

	&--wrapper {
		display: flex;
		margin: 2rem auto;
		max-width: calc(content-size.$wide + spacing.$l * 2);
		padding: 0 spacing.$l;
		@include mq($until: tablet) {
			flex-wrap: wrap;
		}
	}

	&--contained {
		max-width: 100%;
		width: 100%;
		margin: 2rem auto;
		display: flex;
		flex-direction: row;
		position: relative;
		overflow: hidden;
		max-width: calc(content-size.$wide + spacing.$l * 2);
		padding: 0 spacing.$l;

		@include mq($until: tablet) {
			flex-wrap: wrap;
		}
	}

	&--featured {
		max-width: 100%;
		width: 100%;
		//margin: 10rem auto 4rem;
		margin: 0 auto 6rem;
		display: flex;
		flex-direction: row;
		position: relative;
		padding-bottom: 2rem;
		&.feature-large-spacing {
			margin: 10rem auto 4rem;
			@include mq($until: large_tablet) {
				margin: 0 auto;
			}
		}
		@include mq($until: large_tablet) {
			margin: 0 auto 6rem;
		}
		.content-blurb {
			max-width: 430px;
			width: 100%;
			margin-right: 4rem;
			display: flex;
			align-items: center;
			justify-content: center;
			//background: var(--sophisticated);
			@include mq($until: tablet) {
				max-width: 100%;
				order: 2;
				margin-right: 0;
			}

			&--wide {
				max-width: 650px;
				width: 100%;
				margin: 0 auto;
				@include mq($until: large_tablet) {
					max-width: 100%;
				}
			}
		}
		.content-img {
			max-width: 770px;
			width: 100%;
			margin-left: auto;
			position: relative;
			margin-top: -100px;

			@include mq($until: large_tablet) {
				margin: 0;
				width: calc(100% * (6 / 12));
			}
			@include mq($until: tablet) {
				margin: 3rem 0 0 0;
				width: 100%;
			}

			&.alt {
				margin-left: 0;
				margin-right: 4rem;
			}

			@include mq($until: large_tablet) {
				max-width: 100%;
				order: 1;
				margin-bottom: 1rem;
				margin-right: 0 !important;
			}

			&--aside {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 2rem;
				@include mq($until: large_tablet) {
					padding: 0;
				}
			}
			&--cont {
				padding: 2rem;
				@include mq($until: large_tablet) {
					padding: 0;
				}
			}
		}
	}

	&--contact {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		position: relative;
		padding: 2rem;
		@include mq($until: large_tablet) {
			padding: 1rem;
			.container {
				padding: 0;
				> h3 {
					padding: 0 15px;
				}
			}
		}
	}

	&.padding-zero {
		padding: 3rem 0 0 0;
	}

	&.heading-bg,
	&.section-bg {
		background: var(--sophisticated);
	}
}

.content-block {
	&.liquid-bg-feature {
		padding: 5rem 0;
		@include mq($until: tablet) {
			padding: 1rem 0;
			margin-bottom: 0px;
		}
	}

	@include mq($until: tablet) {
		flex-wrap: wrap;
	}

	.content-blurb {
		max-width: 430px;
		width: 100%;
		margin-right: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		//background: var(--sophisticated);
		@include mq($until: tablet) {
			max-width: 100%;
			order: 2;
			margin-right: 0;
		}

		&--wide {
			max-width: 650px;
			width: 100%;
			margin: 0 auto;
			@include mq($until: large_tablet) {
				max-width: 100%;
			}
		}
	}
	.content-img {
		max-width: 770px;
		width: 100%;
		margin-left: auto;
		position: relative;
		&.alt {
			margin-left: 0;
			margin-right: 4rem;
		}

		@include mq($until: large_tablet) {
			max-width: 100%;
			order: 1;
			margin-bottom: 1rem;
			margin-right: 0 !important;
		}

		&--aside {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2rem;
			@include mq($until: large_tablet) {
				padding: 0;
			}
		}
		&--cont {
			padding: 2rem;
			@include mq($until: large_tablet) {
				padding: 0;
			}
		}
		&.large-images {
			max-width: 60%;

			@include mq($until: large_tablet) {
				max-width: 100%;
			}
			.content-img-wrapper {
				max-width: 100%;
				align-items: center;
				display: flex;
			}
		}
	}

	.content-img .large-images {
		max-width: 60;

		@include mq($until: large_tablet) {
			max-width: 100%;
		}
		.content-img-wrapper {
			max-width: 100%;
			align-items: center;
			display: flex;
		}
	}

	.content-50 {
		width: 100%;
		position: relative;
		border: solid 1rem transparent;
		margin: -0.5rem;
		.card__content {
			max-width: unset;
		}
	}

	&--wrapper {
		display: flex;
		margin: 2rem auto;
		max-width: calc(content-size.$wide + spacing.$l * 2);
		padding: 0 spacing.$l;
		@include mq($until: tablet) {
			flex-wrap: wrap;
		}
	}

	&--contained {
		max-width: 100%;
		width: 100%;
		margin: 2rem auto;
		display: flex;
		flex-direction: row;
		position: relative;
		overflow: hidden;
		max-width: calc(content-size.$wide + spacing.$l * 2);
		padding: 0 spacing.$l;

		@include mq($until: tablet) {
			flex-wrap: wrap;
		}
	}

	&--featured {
		max-width: 100%;
		width: 100%;
		//margin: 10rem auto 4rem;
		//margin: 0 auto 6rem;
		margin: 10rem auto 6rem;
		display: flex;
		flex-direction: row;
		position: relative;
		padding-bottom: 2rem;
		&.feature-large-spacing {
			margin: 10rem auto 4rem;
			@include mq($until: large_tablet) {
				margin: 0 auto;
			}
		}
		@include mq($until: large_tablet) {
			margin: 0 auto 6rem;
		}
		.content-blurb {
			max-width: 430px;
			width: 100%;
			margin-right: 4rem;
			display: flex;
			align-items: center;
			justify-content: center;
			//background: var(--sophisticated);
			@include mq($until: tablet) {
				max-width: 100%;
				order: 2;
				margin-right: 0;
			}

			&--wide {
				max-width: 650px;
				width: 100%;
				margin: 0 auto;
				@include mq($until: large_tablet) {
					max-width: 100%;
				}
			}
		}
		.content-img {
			max-width: 770px;
			width: 100%;
			margin-left: auto;
			position: relative;
			//margin-top: -100px;

			@include mq($until: large_tablet) {
				margin: 0;
				width: calc(100% * (6 / 12));
			}
			@include mq($until: tablet) {
				margin: 3rem 0 0 0;
				width: 100%;
			}

			&.alt {
				margin-left: 0;
				margin-right: 4rem;
			}

			@include mq($until: large_tablet) {
				max-width: 100%;
				order: 1;
				margin-bottom: 1rem;
				margin-right: 0 !important;
			}

			&--aside {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 2rem;
				@include mq($until: large_tablet) {
					padding: 0;
				}
			}
			&--cont {
				padding: 2rem;
				@include mq($until: large_tablet) {
					padding: 0;
				}
			}
		}
	}

	&--contact {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		position: relative;
		padding: 2rem;
		@include mq($until: large_tablet) {
			padding: 1rem;
			.container {
				padding: 0;
				> h3 {
					padding: 0 15px;
				}
			}
		}
	}

	&.padding-zero {
		padding: 3rem 0 0 0;
	}

	&.heading-bg,
	&.section-bg {
		background: var(--sophisticated);
	}
}

.standard-block {
	max-width: 100%;
	width: 100%;
	margin: 2rem auto;
}

.heading-offset {
	i {
		display: block;
		margin-left: 100px;
		@include mq($until: large_tablet) {
			display: inline-block;
			margin-left: 0;
		}
	}
}

.filler {
	flex-grow: 1;
	text-align: center;
}
.stats {
	span {
		display: block;
	}
}
.stats-list {
	margin: 1rem 0 1rem 0;
	padding: 0;
	width: 100%;
	max-width: 170px;
	li {
		margin: 0 0 1rem 0;
	}
}

.story-image-large-container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	max-width: 680px;

	img {
		object-fit: contain !important;
		height: 100% !important;
	}
}

.story-image-default-container {
	width: 100%;
	height: 370px;
	margin: 0 auto;
	display: flex;
	justify-content: center;

	img {
		object-fit: contain !important;
		height: 100% !important;
	}
}

.block-banner {
	width: 100%;
	position: relative;
	z-index: 3;

	.container {
		&--profile-banner {
			display: flex;
			flex-direction: row;
			max-width: calc(content-size.$wide + spacing.$l * 2);
			padding: 0 spacing.$l;
			margin: 2rem auto;

			@include mq($until: tablet) {
				flex-wrap: wrap;
				margin: 2rem auto;
			}

			.content-blurb,
			.content-img {
				position: relative;
				display: block;
				.img-wrapper {
					max-width: 600px;
					max-height: 600px;
					width: 100%;
					height: auto;
					// margin: 0 0 3rem 0;
				}
			}

			.content-blurb {
				max-width: 500px;
				margin-left: 5rem;

				// display: flex;
				// align-items: center;
				// justify-content: center;

				@include mq($until: tablet) {
					order: 2;
					margin: 0;
				}

				.content-left {
					padding-top: 3rem;
				}
			}
			.content-img {
				max-width: 600px;
				position: relative;

				@include mq($until: extra_wide) {
					max-width: 480px;
				}

				@include mq($until: tablet) {
					order: 1;
					margin: 0;
				}
				.blurb {
					max-width: 400px;
					margin: 2rem 0;
				}
			}
			.content-brand-logo {
				max-width: 300px;
				max-height: 200px;
				width: 100%;
				height: 100%;
				margin-bottom: 2rem;
			}

			&.right {
				.content-blurb {
					margin-left: auto;
					padding: 0 2rem;
					display: flex;
					align-items: center;
					justify-content: center;
					//background: var(--sophisticated);
					@include mq($until: tablet) {
						order: 1;
						margin: auto;
						padding: 0;
					}
				}
				.content-img {
					margin-left: auto;
					position: relative;
					@include mq($until: tablet) {
						order: 2;
						margin: auto;
					}
					.blurb {
						max-width: 400px;
						margin: 2rem auto;
					}
				}
			}

			&.flipped {
				.content-blurb {
					order: 2;
				}
				.content-img {
					order: 1;
				}
			}
		}

		&--profile-banner-wide {
			display: flex;
			flex-direction: row;
			max-width: calc(content-size.$wide + spacing.$l * 2);
			margin: 0 auto;

			@include mq($until: tablet) {
				flex-wrap: wrap;
			}

			.flex-col-md-9 {
				.share_price_block {
					.offset-md-2 {
						margin-left: 0 !important; //override shareprice
					}
				}
			}
			.content-blurb,
			.content-img {
				position: relative;
				display: block;
				.img-wrapper {
					max-width: 600px;
					max-height: 600px;
					width: 100%;
					height: auto;
					//margin: 0 0 3rem 0;
				}
			}

			.content-blurb {
				max-width: 500px;
				margin-left: 5rem;
				// display: flex;
				// align-items: center;
				// justify-content: center;
				@include mq($until: tablet) {
					order: 1;
					margin: 0 0 5rem 0;
				}

				&--wide {
					max-width: 100%;
					margin-left: 5rem;
					@include mq($until: tablet) {
						order: 1;
						margin: 0;
					}
				}

				//linked list
				ul {
					display: flex;
					margin: 0;
					padding: 0;
					li {
						margin-right: 1.2rem;
					}
				}
			}
			.content-img {
				max-width: 600px;
				position: relative;
				//background: var(--white-transparent);
				@include mq($until: tablet) {
					order: 2;
					margin: 0;
				}
				.blurb {
					max-width: 400px;
					margin: 2rem 0;
				}

				@include mq($until: extra_wide) {
					max-width: 480px;
				}
			}
			.flex-row {
				&.flipped {
					.content-blurb {
						order: 2;
					}
					.content-img {
						order: 1;
					}
				}
			}
		}

		&--profile-banner-wide-title {
			max-width: calc(content-size.$wide + spacing.$l * 2);
			margin: 2rem auto;

			@include mq($until: tablet) {
				flex-wrap: wrap;
			}

			.content-blurb {
				position: relative;
				display: block;
				max-width: 100%;
				//margin-left: 5rem;
				// display: flex;
				// align-items: center;
				//justify-content: center;
				// background: var(--sophisticated);
				@include mq($until: tablet) {
					margin-left: 0;
				}
				&--wide {
					max-width: 100%;
					margin-left: 5rem;
					@include mq($until: tablet) {
						order: 1;
						margin: 0;
					}
				}
			}
		}
	}

	.breadcrumbs {
		max-width: calc(content-size.$wide + spacing.$l * 2);
		padding: 0 spacing.$l;
		//margin: 4rem auto 0;
		margin: 0 auto 0;
	}

	ul {
		list-style-type: disc;
		li {
			margin-bottom: 0.5rem;
		}
	}
}

.offset-bg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
	left: -10%;
	background: var(--sophisticated);

	@include responsive.mq($until: wide) {
		left: 0 !important;
	}
	@media (min-width: 1440px) {
		left: -10%;
	}
	@media (min-width: 1650px) {
		left: -20%;
	}
	&--reset {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 1;
		left: 0;
		background: var(--sophisticated);
	}

	&--top {
		width: 100%;
		height: 60%;
		position: absolute;
		top: 0;
		z-index: 1;
		left: 0;
		background: var(--sophisticated);
		@include responsive.mq($until: wide) {
			height: 100%;
		}
	}

	&--right {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 1;
		right: -40%;
		background: var(--sophisticated);
		@include responsive.mq($until: wide) {
			right: 0 !important;
		}
		@media (min-width: 1440px) {
			//right: -40%;
		}
		@media (min-width: 1650px) {
			// right: -40%;
		}
	}

	&--homepage {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 1;
		left: -20%;
		background: var(--sophisticated);
		top: -40%;

		@media (max-width: 768px) {
			left: 0;
		}

		@media (min-width: 1440px) {
			left: -20%;
		}
		@media (min-width: 1650px) {
			left: -20%;
		}
	}
}

.liquid-bg-offset {
	// width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
	display: flex;
	&--right {
		// width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 1;
		display: flex;
		@include responsive.mq($until: wide) {
			right: 0;
		}
		@media (min-width: 1440px) {
		}
		@media (min-width: 1650px) {
		}
	}
}

.text-body,
.body-text {
	// ul {
	//   &:not(:has(.accordion-nav-links__list)) {
	//     margin: 0;
	//     padding: 0;
	//     padding: 2rem 2rem;
	//     list-style-type: disc;

	//     li {
	//       font-size: 18px;
	//       line-height: 25px;
	//       margin: 0 0 1rem 0;
	//     }
	//   }
	// }

	img {
		margin-bottom: 1rem;
	}
}

.img-alt-wrapper-1 {
	position: relative;
	.img-cont-1 {
		position: relative;
	}

	.img-cont-2 {
		position: absolute;
		bottom: -125px;
		right: 70px;
		width: 100%;
		max-width: 250px;
		max-height: 208px;
	}
}

.img-alt-wrapper-2 {
	position: relative;
	.img-cont-2 {
		position: absolute;
		bottom: -55px;
		left: 150px;
		width: 100%;
		max-width: 300px;
		max-height: 208px;
	}

	.img-cont-1 {
		position: relative;
		width: 100%;
		right: 0;
		display: block;
		margin-left: auto;
		@include mq($from: tablet) {
			max-width: 440px;
		}
	}
}

.img-alt-wrapper-3 {
	position: relative;
	.img-cont-1 {
		position: relative;
		display: block;
		margin: 0 20px 0 0;
		text-align: center;
	}
	.img-cont-2 {
		position: absolute;
		right: -20px;
		top: 55px;
		width: 100%;
		max-width: 200px;
		max-height: 200px;
		@media (max-width: 1024px) {
			display: none;
		}
	}
	.img-cont-3 {
		position: absolute;
		bottom: -55px;
		left: -30px;
		width: 100%;
		max-width: 280px;
	}
}

.img-alt-wrapper-4 {
	position: relative;
	.img-cont-1 {
		position: relative;
	}

	.img-cont-2 {
		position: absolute;
		bottom: 118px;
		right: -140px;
		width: 100%;
		max-width: 370px;
		max-height: 370px;
		@media (max-width: 1024px) {
			display: none;
		}
	}
}

.img-alt-wrapper-1,
.img-alt-wrapper-2,
.img-alt-wrapper-3,
.img-alt-wrapper-4 {
	.img-cont-2,
	.img-cont-3 {
		@include mq($until: large_tablet) {
			display: none !important;
		}
		-webkit-box-shadow: 0 12px 37px -0px rgba(41, 41, 41, 0.25);
		-moz-box-shadow: 0 12px 37px -0px rgba(41, 41, 41, 0.25);
		box-shadow: 0 12px 37px -0px rgba(41, 41, 41, 0.25);
	}
	.img-cont-1 {
		@include mq($until: large_tablet) {
			margin: 0;
		}
	}
}

.share_price_block {
	> .flex-row {
		padding: 24px;
	}
	.shareprice_value {
		font-size: font-sizes.$figure-small;
		font-weight: font-weights.$semibold;
	}
	.shareprice_value span {
		font-size: font-sizes.$size-m;
	}
	p {
		font-size: font-sizes.$size-xs;
	}

	.price_up {
		span {
			display: inline-block;
			width: 0;
			margin: 0 0 0 6px;
			border-bottom: 7px solid black;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
	}

	.price_down {
		span {
			display: inline-block;
			width: 0;
			margin: 0 0 0 6px;
			border-top: 7px solid black;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
	}
}

.register-for-email-block {
	.rich-text-editor p {
		font-size: font-sizes.$size-xl;
		margin: 0;

		&.centered {
			text-align: center;
		}
	}
	.rich-text-editor p a {
		text-decoration: none !important;
		font-weight: font-weights.$semibold;
		padding-bottom: 3px;
		margin-bottom: 3px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 0;
			left: 0;
			background: colors.$link-gradient;
			transition: background-color 500ms linear;
		}
	}
}

.calendar__card {
	p {
		font-size: font-sizes.$size-s;
		margin-bottom: spacing.$xxxs;
	}
}

.calendar_event_card {
	border-bottom: 1px solid colors.$black;
	transition: background-color 300ms linear;
	position: relative;
	p {
		font-size: font-sizes.$size-s;
		margin-bottom: spacing.$xxxs;
	}
	a {
		text-decoration: none;
	}
	a::before {
		bottom: 0;
		content: '';
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		width: 100%;
		top: 0;
		white-space: nowrap;
		z-index: 1;
	}
}
