//font-face
@mixin font-face-mixin($font-name, $font-path, $weight, $style) {
	@font-face {
		font-family: '#{$font-name}';
		src:
			url('/fonts/#{$font-path}.woff2') format('woff2'),
			url('/fonts/#{$font-path}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
		font-stretch: normal;
		font-display: swap;
	}
}

$animation-speed: 0.3s !default;

@mixin animate($properties, $duration: $animation-speed, $easing: ease-in-out) {
	$list: ();
	@each $prop in $properties {
		$str: #{$prop} #{$duration} #{$easing};
		$list: join($list, #{$str}, comma);
	}
	transition: $list;
}

@mixin fades-vertical {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
}

@mixin fades-horizontal {
	content: '';
	position: absolute;
	width: 100%;
	height: 4px;
	display: block;
	margin: 0;
	right: 0;
	top: 0;
}

/* different color shades/fades */
@mixin orange-fades {
	background-image: linear-gradient(
		to right,
		#ff7a00,
		#ff6900,
		#ff5500,
		#ff3c00,
		#ff0f00
	);
}
@mixin blue-fades {
	background-image: linear-gradient(
		to bottom,
		#233986,
		#005ca3,
		#007db7,
		#009ec5,
		#4abdcf
	);
}
@mixin purple-fades {
	background-image: linear-gradient(
		to right,
		#e40d7e,
		#c11883,
		#9d2182,
		#78267c,
		#542671
	);
}
@mixin gold-fades {
	background-image: linear-gradient(
		to bottom,
		#f0801b,
		#f69918,
		#f9b11c,
		#faca28,
		#f9e23a
	);
}
@mixin red-fades {
	background-image: linear-gradient(
		to bottom,
		#da3020,
		#d22b24,
		#ca2627,
		#c2212a,
		#ba1d2c,
		#a8192d,
		#95172d,
		#83162c,
		#621527,
		#43131f,
		#250f14,
		#000000
	);
}
@mixin green-fades {
	background-image: linear-gradient(
		to bottom,
		#92c37d,
		#80b76b,
		#6dab59,
		#59a048,
		#449436
	);
}
@mixin apple-green-fades {
	background-image: linear-gradient(
		to right,
		#e2f1f3,
		#daf0ef,
		#d4eee9,
		#cfece1,
		#cdead8,
		#cbe8d1,
		#cbe6ca,
		#cbe4c2,
		#c8e3bc,
		#c6e1b6,
		#c3e0b0,
		#c1deaa
	);
}

@mixin apple-green-gradient {
	background-image: linear-gradient(
		to right,
		#e2f1f3,
		#daf0ef,
		#d4eee9,
		#cfece1,
		#cdead8,
		#cbe8d1,
		#cbe6ca,
		#cbe4c2,
		#c8e3bc,
		#c6e1b6,
		#c3e0b0,
		#c1deaa
	);
}
@mixin lilac-gradient {
	background-image: linear-gradient(
		to top,
		#ffffff,
		#fbfafd,
		#f8f5fa,
		#f6f0f6,
		#f4ebf2,
		#f3e8f0,
		#f2e6ee,
		#f1e3ec,
		#f0e2ec,
		#eee1ed,
		#ede0ed,
		#ebdfee
	);
}

@mixin alt-gradient {
	background-image: linear-gradient(
		to right,
		#d2eedd,
		#d5e9cf,
		#dce2c2,
		#e5dbb7,
		#eed2b1
	);
}

@mixin cream-gradient {
	background: #fcf8ef;
}

@mixin green-fades {
	background: rgb(146, 195, 125, 1);
	background: linear-gradient(
		190deg,
		rgba(146, 195, 125, 1) 0%,
		rgba(68, 148, 54, 1) 100%
	);
}
@mixin gold-fades {
	background: rgb(231, 164, 67, 1);
	background: linear-gradient(
		190deg,
		rgba(231, 164, 67, 1) 0%,
		rgba(244, 223, 91, 1) 100%
	);
}

@mixin orange-fades {
	background: rgb(255, 122, 0);
	background: linear-gradient(
		90deg,
		rgba(255, 122, 0, 1) 0%,
		rgba(255, 15, 0, 1) 100%
	);
}

@mixin spacings {
	max-width: calc(content-size.$wide + spacing.$l * 2);
	padding: 0 spacing.$l;
	margin: 0 auto;
}

@mixin bg-card-gradient {
	background: linear-gradient(
		145.36deg,
		rgba(252, 249, 235, 0.7) 2.15%,
		rgba(246, 231, 215, 0.7) 100%
	);
}

.cream-gradient {
	@include cream-gradient;
}

.gold-gradient {
	@include gold-fades;
}

.lilac-gradient {
	@include lilac-gradient;
}

.alt-gradient {
	@include alt-gradient;
}

.apple-green-gradient {
	@include apple-green-gradient;
}
