@use '../settings/spacing';
@use '../settings/content-size';
@use '../tools/responsive';
@use '../mixins';

//responsive
@import '~sass-mq';

.left-panel-filters {
	max-width: 250px;
	width: 100%;

	@include mq($until: tablet) {
		max-width: 100%;
	}

	@include mq($from: tablet) {
		margin-right: 88px;
	}

	.accordion {
		width: 100%;
		text-align: left;
		border: none;
		background: none;
		border-top: solid 1px #000;
		padding: 0.7rem 0;
	}
}

.filter-category {
	margin: 0 0 2rem 0;
	.filter-category-by {
		margin-bottom: 2rem;
	}
	> .accordion ~ .accordion {
		border-bottom: solid 1px #000;
	}
}

.panel {
	//display: none;
}

.filter-options {
	margin: 1rem 0;
	padding: 0;
	li {
		border: solid 1px #ddd;
		margin: 0 0 0.3rem 0;
		> a {
			padding: 0.5rem;
			display: block;
			color: #000;
			text-decoration: none;
		}
	}
}
