@use '../tools/headings';
@use '../settings/font-face';
@use '../settings/font-weights';
@use '../settings/font-sizes';
@use '../settings/colors';

//responsive
@import '~sass-mq';

.heading-h1-xxl {
	@include headings.h1-xxl;
}
.heading-h1-xl {
	@include headings.h1-xl;
}

.subheading-h2 {
	font-size: font-sizes.$h2-mobile;
}

h1,
.h1 {
	@include headings.h1;
}

h2,
.h2 {
	@include headings.h2;
}

.h2-small {
	@include headings.h2-small;
	font-weight: 600;
}

h3,
.h3 {
	@include headings.h3;
}

h4,
.h4 {
	@include headings.h4;
}

h5,
.h5 {
	@include headings.h5;
}

h6,
.h6 {
	@include headings.h6;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: font-weights.$semibold;

	i,
	em {
		font-family: font-face.$heading-base;
		font-weight: 400;
		letter-spacing: -1px;
	}
}

.heading-hp {
	@include headings.h1-xl;
	font-weight: 600;
}

.sub-heading-hp {
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
	a {
		display: inline;
		color: colors.$black;
		text-decoration: none;
		text-decoration-color: transparent;
		-webkit-text-decoration-color: transparent;
		-moz-text-decoration-color: transparent;
		text-decoration: underline;
		font-weight: font-weights.$semibold;
		position: relative;
		transition: opacity 0.25s ease-out;

		&:link {
			color: colors.$black;
		}
		&:visited {
			color: colors.$black;
		}
		&:active {
			color: colors.$black;
		}

		&:hover {
			opacity: 0.5;
		}
	}
}
