@use '../settings/font-sizes';
@use '../settings/spacing';
@use '../settings/content-size';
@use '../tools/responsive';
@use '../mixins';
@use '../settings/font-face';

@import '~sass-mq';

$white: #ffffff;
$black: #000000;

/* Mixins
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin orange-underline {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	display: block;
	margin-top: 5px;
	right: 0;
	background: rgb(255, 122, 0);
	background: linear-gradient(
		90deg,
		rgba(255, 122, 0, 1) 0%,
		rgba(255, 15, 0, 1) 100%
	);
	transition: width 0.2s ease;
	-webkit-transition: width 0.2s ease;
}
@mixin orange-underline-hover {
	width: 100%;
	left: 0;
	background: rgb(255, 122, 0);
	background: linear-gradient(
		90deg,
		rgba(255, 122, 0, 1) 0%,
		rgba(255, 15, 0, 1) 100%
	);
}
@mixin spacings {
	max-width: calc(content-size.$wide + spacing.$l * 2);
	padding: 0 spacing.$l;
	margin: 0 auto;
}

//burger menu
.toggle-menu {
	width: 28px;
	height: 30px;
	margin: 10px auto;
	visibility: visible;
	cursor: pointer;
	&.on {
		> .one {
			transform: rotate(45deg) translate(5px, 5px);
		}
		> .two {
			opacity: 0;
		}
		> .three {
			transform: rotate(-45deg) translate(4px, -3.5px);
		}
	}

	&.off {
		display: none;
	}
	> div {
		width: 100%;
		height: 2px;
		background: $black;
		margin: 4px auto;
		transition: all 0.3s;
		backface-visibility: hidden;
	}
}

.nav-home {
	display: flex;
	align-items: center;
	justify-content: left;
	width: 10%;
}
.nav-main {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: left;
	z-index: 26;
}
.nav-search {
	display: flex;
	align-items: center;
	justify-content: right;
	width: 10%;
	.link__icon {
		margin-right: 0.2rem;
		height: 28px;
	}
	span {
		font-size: 17px;
		@include mq($until: large_tablet) {
			display: none;
		}
	}

	&.on {
		display: none;
	}
}

//mobile
@include mq($until: large_tablet) {
	header#navbar {
		height: 60px;
	}

	.level-2,
	.level-3,
	.level-4 {
		> li {
			.h5 {
				font-weight: 800;
			}
		}
	}

	.nav-home {
		display: none;
	}
	.mobile-logo {
		max-width: 220px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding-left: 30px;
		cursor: pointer;
	}
	.mobile-search {
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	.nav-main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		color: $white;
		transition: 0.5s;
	}

	.nav-main .header-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		padding: 0 20px;
		background: $white;
		width: 100%;
		position: relative;
		visibility: visible;
		.toggle-menu {
			position: absolute;
			z-index: 999;
		}

		&.on {
			visibility: hidden;

			.nav-search {
				display: none;
			}
		}
	}

	.nav-main .menu-wrapper {
		position: absolute;
		top: 0px;
		left: -100%;
		width: 0;
		height: calc(200vh - 60px);
		padding-top: 60px;
		overflow: hidden;
		background-color: $white;
		transition: 0.5s;

		&.is-visible {
			width: 80%;
			left: 0;
		}
	}

	.nav-main .list-wrapper {
		height: 100%;
		padding: 15px 20px;
		overflow-y: auto;
		background: $white;
	}

	.nav-main .list-wrapper:nth-child(2),
	.nav-main .list-wrapper:nth-child(3),
	.nav-main .list-wrapper:nth-child(4) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		transform: translateX(100%);
		backface-visibility: hidden;
		transition: transform 0.5s;
	}

	.nav-main .list-wrapper:nth-child(2).is-visible,
	.nav-main .list-wrapper:nth-child(3).is-visible,
	.nav-main .list-wrapper:nth-child(4).is-visible {
		transform: none;
	}

	.nav-main .list-wrapper:nth-child(1) > ul > li > .sub-nav-container .sub-menu,
	.nav-main .list-wrapper:nth-child(2) .level-3,
	.nav-main .list-wrapper:nth-child(3) .level-4 {
		display: none;
	}

	.nav-main .menu-wrapper li + li {
		margin-top: 20px;
	}

	.nav-main .menu-wrapper a {
		position: relative;
		padding: 0;
		color: $black;
		text-decoration: none;
	}

	.nav-main .menu-wrapper a:hover,
	.nav-main .menu-wrapper a.is-active {
		color: $black;
	}

	.nav-main .menu-wrapper a:hover::before,
	.nav-main .menu-wrapper a.is-active::before {
		position: absolute;
		top: 50%;
		right: -20px;
		transform: translateY(-50%);
		color: $black;
	}

	.nav-main .back-one-level {
		display: flex;
		align-items: center;
		color: $black;
		margin: 4rem 0 2rem 0;
		cursor: pointer;
		.link__icon {
			margin-left: -4px;
			margin-right: 8px;
			top: 0;
			.icon__inner {
				height: 25px;
			}
		}
	}

	.level-1,
	.sub-menu {
		padding: 0;
		a {
			display: block;
			font-size: 16px;
			font-weight: 400;
			line-height: 21.6px;

			> .link__icon {
				float: right;
				vertical-align: middle;
			}
		}
	}

	.level-1 {
		li a {
			font-size: 18px;
			font-weight: 600;
		}
	}

	.mobile-nav-footer {
		border-top: solid 1px #e5e5e5;
		padding-top: 2rem;
		margin-top: 2rem;
		.social__media__links {
			padding: 0;
			margin: 70px 0 0 0;
			display: flex;
			@include responsive.mq($until: large_tablet) {
				margin-bottom: spacing.$xxl;
			}
		}
		.social__media__links li {
			padding: 0;
			margin: 0 0.5rem 0 0 !important;
		}
		.social__media__links li a {
			text-indent: -9999px;
		}
		.social__media__links .icon {
			&__facebook {
				padding: 1.1rem;
				background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 14.9617C0 6.69857 6.69857 0 14.9617 0C23.2249 0 29.9235 6.69857 29.9235 14.9617C29.9235 23.2249 23.2249 29.9235 14.9617 29.9235C6.69857 29.9235 0 23.2249 0 14.9617ZM18.6004 7.62091L20.6698 7.61999H20.6701V3.9753L17.6545 3.9707C14.6714 3.9707 12.628 5.79213 12.628 9.13652V12.0184H9.25391V15.926H12.628V25.954H16.6642V15.926H20.5318L20.5336 12.0184H16.6639V9.52346C16.6639 8.39203 16.9777 7.62091 18.6004 7.62091Z' fill='black'/%3e%3c/svg%3e ")
					no-repeat 50% 50%;
			}
			&__twitter {
				padding: 1.1rem;
				background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.92334 15C0.92334 6.717 7.64034 0 15.9233 0C24.2063 0 30.9233 6.717 30.9233 15C30.9233 23.283 24.2063 30 15.9233 30C7.64034 30 0.92334 23.283 0.92334 15ZM22.7817 12.1411C22.7817 11.9921 22.7785 11.8438 22.7719 11.6961C23.4441 11.2102 24.0285 10.6037 24.4892 9.91313C23.8724 10.1873 23.2086 10.372 22.5121 10.4554C23.223 10.0289 23.7687 9.35466 24.0262 8.55106C23.3608 8.94542 22.6243 9.23198 21.8399 9.3867C21.2116 8.71745 20.3171 8.29883 19.3268 8.29883C17.4254 8.29883 15.8835 9.84081 15.8835 11.7414C15.8835 12.0115 15.9139 12.2743 15.973 12.5265C13.1115 12.3825 10.5741 11.0125 8.87625 8.92917C8.58054 9.43797 8.41002 10.0289 8.41002 10.6597C8.41002 11.8543 9.0177 12.9087 9.94215 13.5256C9.37727 13.5082 8.84673 13.353 8.38278 13.095C8.38232 13.1095 8.38232 13.1234 8.38232 13.139C8.38232 14.8062 9.56908 16.1985 11.1445 16.5139C10.8552 16.5928 10.5508 16.6352 10.2365 16.6352C10.0152 16.6352 9.79933 16.6132 9.58945 16.5729C10.028 17.9409 11.2987 18.9363 12.8059 18.9643C11.6274 19.8878 10.1429 20.438 8.52972 20.438C8.25209 20.438 7.97789 20.4222 7.7085 20.3904C9.23216 21.3671 11.0415 21.937 12.9858 21.937C19.3188 21.9368 22.7817 16.6906 22.7817 12.1411Z' fill='black'/%3e%3c/svg%3e ")
					no-repeat 50% 50%;
			}
			&__linkedin {
				padding: 1.1rem;
				background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.92334 15C0.92334 6.717 7.64034 0 15.9233 0C24.2063 0 30.9233 6.717 30.9233 15C30.9233 23.283 24.2063 30 15.9233 30C7.64034 30 0.92334 23.283 0.92334 15ZM7.91162 22.6762H11.5648V11.6855H7.91162V22.6762ZM9.73932 10.1843H9.71552C8.48962 10.1843 7.69678 9.34044 7.69678 8.28575C7.69678 7.20726 8.51389 6.38672 9.76358 6.38672C11.0133 6.38672 11.7823 7.20726 11.8061 8.28575C11.8061 9.34044 11.0133 10.1843 9.73932 10.1843ZM21.0856 22.6744H24.7383V16.3724C24.7383 12.9966 22.9361 11.4258 20.5326 11.4258C18.5944 11.4258 17.7258 12.491 17.2404 13.2399V11.6837H13.5874C13.6352 12.7148 13.5874 22.6744 13.5874 22.6744H17.2404V16.5367C17.2404 16.2083 17.2639 15.8801 17.3605 15.6452C17.6246 14.989 18.2257 14.3092 19.2348 14.3092C20.5566 14.3092 21.0856 15.317 21.0856 16.7947V22.6744Z' fill='black'/%3e%3c/svg%3e ")
					no-repeat 50% 50%;
			}
			&__youtube {
				padding: 1.1rem;
				background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 14.9617C0 6.69857 6.69857 0 14.9617 0C23.2249 0 29.9235 6.69857 29.9235 14.9617C29.9235 23.2249 23.2249 29.9235 14.9617 29.9235C6.69857 29.9235 0 23.2249 0 14.9617ZM18.6004 7.62091L20.6698 7.61999H20.6701V3.9753L17.6545 3.9707C14.6714 3.9707 12.628 5.79213 12.628 9.13652V12.0184H9.25391V15.926H12.628V25.954H16.6642V15.926H20.5318L20.5336 12.0184H16.6639V9.52346C16.6639 8.39203 16.9777 7.62091 18.6004 7.62091Z' fill='black'/%3e%3c/svg%3e ")
					no-repeat 50% 50%;
			}
			&__instagram {
				padding: 1.1rem;
				background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18.7944 15C18.7944 16.5857 17.509 17.8711 15.9233 17.8711C14.3376 17.8711 13.0522 16.5857 13.0522 15C13.0522 13.4143 14.3376 12.1289 15.9233 12.1289C17.509 12.1289 18.7944 13.4143 18.7944 15Z' fill='black'/%3e%3cpath d='M20.5195 11.4344C19.9486 11.4344 19.4858 10.9716 19.4858 10.4008C19.4858 9.82999 19.9486 9.36719 20.5195 9.36719C21.0903 9.36719 21.5531 9.82999 21.5531 10.4008C21.5529 10.9716 21.0903 11.4344 20.5195 11.4344Z' fill='black'/%3e%3cpath d='M15.9246 19.424C13.4818 19.424 11.5015 17.4439 11.5015 15.001C11.5015 12.5582 13.4818 10.5781 15.9246 10.5781C18.3672 10.5781 20.3475 12.5582 20.3475 15.001C20.3475 17.4439 18.3672 19.424 15.9246 19.424Z' fill='black'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.92334 15C0.92334 6.717 7.64034 0 15.9233 0C24.2063 0 30.9233 6.717 30.9233 15C30.9233 23.283 24.2063 30 15.9233 30C7.64034 30 0.92334 23.283 0.92334 15ZM24.0844 20.6419C24.2972 20.094 24.443 19.468 24.4847 18.5511C24.5268 17.6326 24.5366 17.3392 24.5366 15C24.5366 12.6608 24.5268 12.3674 24.4849 11.4489C24.443 10.532 24.2974 9.90601 24.0844 9.35806C23.8683 8.78334 23.5291 8.26286 23.091 7.83257C22.6607 7.39426 22.14 7.05505 21.5653 6.83876C21.0173 6.62613 20.3913 6.48056 19.4744 6.4389C18.5559 6.39679 18.2625 6.38672 15.9233 6.38672C13.5842 6.38672 13.2907 6.39679 12.3722 6.43867C11.4553 6.48056 10.8293 6.62613 10.2814 6.83899C9.70668 7.05528 9.18597 7.39426 8.75591 7.83257C8.3176 8.26263 7.97839 8.78334 7.7621 9.35806C7.54924 9.90601 7.40367 10.532 7.36201 11.4489C7.3199 12.3674 7.31006 12.6608 7.31006 15C7.31006 17.3392 7.3199 17.6326 7.36224 18.5513C7.4039 19.468 7.5497 20.0942 7.76256 20.6419C7.97885 21.2167 8.31783 21.7374 8.75591 22.1674C9.1862 22.6057 9.70668 22.9447 10.2816 23.161C10.8293 23.3739 11.4556 23.5194 12.3722 23.5613C13.291 23.6032 13.5842 23.6133 15.9236 23.6133C18.2627 23.6133 18.5562 23.6032 19.4747 23.5613C20.3913 23.5194 21.0176 23.3739 21.5653 23.161C22.7223 22.7135 23.6369 21.7989 24.0844 20.6419Z' fill='black'/%3e%3c/svg%3e ")
					no-repeat 50% 50%;
			}
		}

		.link__icon {
			float: right;
		}
		.link__text {
			display: block;
			&::after {
				display: none;
			}
		}
	}
}

//desktop
@include mq($from: large_tablet) {
	.header-bar,
	.back-one-level,
	.mobile-nav-footer {
		display: none;
	}

	.sub-menu-wrapper {
		position: absolute;
		width: 100%;
		left: 0;
		top: 72px;
		background-color: $white;
		transition: 0.3s ease-in-out;
		visibility: hidden;
		height: 0;
	}

	.sub-nav-container {
		width: 100%;
		height: auto;
		position: absolute;
		left: 0;
		top: 76px;
		background-color: rgba(255, 255, 255, 0.99);
		transition: 0.3s ease-in-out;
		visibility: hidden;

		-webkit-box-shadow: 0 8px 6px -6px rgba(41, 41, 41, 0.25);
		-moz-box-shadow: 0 8px 6px -6px rgba(41, 41, 41, 0.25);
		box-shadow: 0 8px 6px -6px rgba(41, 41, 41, 0.25);
	}
	.sub-menu {
		position: relative;
		left: 0;
		top: 0;
		background-color: $white;
		//transition: 0.3s ease-in-out;
		visibility: hidden;

		height: 0;
		@include spacings;
	}

	.menu-wrapper {
		margin: 0 0 0 4rem;
	}

	.menu a {
		padding: 0rem;
		cursor: pointer;
		position: relative;
		text-decoration: none;
		color: $black;
		font-size: 17px;
	}

	header {
		width: 100%;
		background-color: $white;
		z-index: 100;
		transition: 0.4s ease-in-out;
		height: 100px;
		position: fixed;
	}

	nav {
		background-color: $white;
		display: flex;
		width: 100%;
		height: inherit;
		z-index: inherit;
		//position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	.level-1 {
		display: flex;
		width: 100%;
		margin: 0 auto;
		padding: 0;
		height: 40px;
		> li {
			list-style-type: none;
			padding: 0;
			margin: -0.5rem 0;
			border: solid 1rem transparent;
			//transition: 0.5s;

			> a {
				&:after {
					@include orange-underline;
				}
				&.active {
					&::after {
						@include orange-underline-hover;
					}
				}
			}

			.sub-nav-container {
				transition-timing-function: ease-in-out;
				transition: 0.3s;
				height: 0;
				opacity: 0;
				overflow: hidden;
				> .sub-menu {
					transition-timing-function: ease-in-out;
					transition: 0.3s;
					height: 0;
				}
			}

			&:hover {
				> .sub-nav-container {
					display: flex;
					flex-direction: column;
					min-height: 67vh;

					// height: 420px;
					opacity: 1;
					background-color: rgba(255, 255, 255, 0.99);
					//height: 100%;
					visibility: visible;
					> .sub-menu {
						visibility: visible;
					}
				}
				> a,
				.active {
					&::after {
						@include orange-underline-hover;
					}
				}
			}

			&.focus {
				> .sub-nav-container {
					display: flex;
					flex-direction: column;
					min-height: 67vh;
					opacity: 1;
					background-color: rgba(255, 255, 255, 0.99);
					visibility: visible;
					> .sub-menu {
						visibility: visible;
					}
				}
				> a,
				.active {
					&::after {
						@include orange-underline-hover;
					}
				}
			}

			> .nested {
				.link__icon {
					display: none;
				}
			}
		}
	}

	.level-2 {
		width: 100%;
		margin: 0 auto;
		padding: 15px 0 0 226px;
		transition: 0.2s 0.2s;
		> li {
			list-style-type: none;
			padding: 0;
			margin: 0;
			// border: solid 0.7rem transparent;
			border-left: 0.7rem solid transparent;
			border-right: 0.7rem solid transparent;
			border-bottom: 0.3rem solid transparent;
			border-top: 0.3rem solid transparent;
			width: 30%;

			&:first-child {
				@include mq($from: large_tablet) {
					display: none;
				}
			}
			.h5 {
				margin: 0;
				@include mq($from: large_tablet) {
					display: none;
				}
			}
			> a {
				display: block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				padding-right: 20px;
				max-width: 230px;
				height: 32px;

				&:after {
					@include orange-underline;
				}
				&.active {
					&::after {
						@include orange-underline-hover;
					}
				}
				> .link__icon {
					float: right;
					height: 23px;

					position: absolute;
					top: 2px;
					right: 0;
				}
			}

			.level-3 {
				//  transition-delay: 0s;
				height: 0%;
				opacity: 0;

				-webkit-transition: 0.2s all;
				-webkit-transition-delay: 2s;
				-moz-transition: 0.2s all;
				-moz-transition-delay: 2s;
				-ms-transition: 0.2s all;
				-ms-transition-delay: 2s;
				-o-transition: 0.2s all;
				-o-transition-delay: 2s;
				transition: 0.2s all;
				//transition-delay: 0.2s;
			}

			&.right-pressed,
			&:hover {
				> .level-3 {
					transition-timing-function: ease-in-out;
					// transition: 0.3s;
					//transform: translateY(130%);
					visibility: visible;
					display: block;
					opacity: 1;
					//height: 100%;

					-webkit-transition-delay: 0s !important;
					-moz-transition-delay: 0s !important;
					-ms-transition-delay: 0s !important;
					-o-transition-delay: 0s !important;
					transition-delay: 0s !important;
				}
				> a,
				.active {
					&::after {
						@include orange-underline-hover;
					}
				}
			}
		}
	}
	.level-3,
	.level-4 {
		width: 100%;
		margin: 0 auto;
		padding: 15px 0 0 0;
		position: absolute;
		top: 0;
		width: 30%;
		left: 42%;
		opacity: 0;
		> li {
			list-style-type: none;
			padding: 0;
			margin: -0.5rem;
			// border: solid 0.7rem transparent;
			border-left: 0.7rem solid transparent;
			border-right: 0.7rem solid transparent;
			border-bottom: 0.3rem solid transparent;
			border-top: 0.3rem solid transparent;
			width: 100%;
			@include spacings;

			&:first-child {
				@include mq($from: large_tablet) {
					display: none;
				}
			}
			.h5 {
				margin: 0;
				@include mq($from: large_tablet) {
					display: none;
				}
			}

			> a {
				display: block;
				&:after {
					@include orange-underline;
				}
				&.active {
					&::after {
						@include orange-underline-hover;
					}
				}
				> .link__icon {
					float: right;
					height: 23px;
				}
			}

			&:hover {
				> .sub-menu {
					opacity: 1;
					visibility: visible;
					transition-timing-function: ease-in-out;
					transition: 0.2s;
					height: 500px;
				}
				> a,
				.active {
					&::after {
						@include orange-underline-hover;
					}
				}
			}
		}
	}
	.level-4 {
		left: 97%;
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.level-1 {
		> li {
			border: solid 0.5rem transparent;
			border-top: solid 1rem transparent;
			border-bottom: solid 1rem transparent;
			a {
				font-size: 16px;
			}
		}
	}
}

.overlay-gradient {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0;
	transition-timing-function: ease-in-out;
	transition: 0.3s;
	display: none;
	&.on {
		display: block;
		opacity: 1;
		z-index: 6;
		top: 0;
	}
}
