@use '../settings/font-sizes';
@use '../settings/spacing';
@use '../settings/content-size';
@use '../mixins';
@use '../settings/font-face';

@import '~sass-mq';

.search {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

.search-bar {
	@include mixins.cream-gradient;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: -100%;
	z-index: 2;
	visibility: hidden;
	opacity: 0;
	transition-timing-function: ease-in-out;
	transition: 0.2s;

	&.active {
		visibility: visible;
		opacity: 1;
		height: 100%;
		width: 100%;
		z-index: 200;
		right: 0;
	}

	.search-wrapper {
		position: relative;
		height: 100%;

		.close-search {
			-webkit-appearance: none;
			appearance: none;
			border: none;
			background: transparent;
			border-radius: 0;
			padding: 0;
			width: auto;
			position: absolute;
			top: -7rem;
			right: 1rem;
			text-decoration: none;
			color: #000;

			.link__icon {
				margin-left: 0;
			}

			@include mq($from: mobile, $until: large_tablet) {
				@media screen and (orientation: landscape) {
					top: -4rem;
				}
			}
		}
	}

	.search-block {
		max-width: 1200px;
		width: 100%;
		padding: 0;
		margin: 150px auto 0;
		position: relative;

		height: calc(100% - 150px);

		@include mq($from: mobile, $until: large_tablet) {
			margin: 130px auto 0;
			height: calc(100% - 130px);

			@media screen and (orientation: landscape) {
				margin: 80px auto 0;
				height: calc(100% - 80px);
			}
		}

		.s-interested {
			font-family: font-face.$heading-base;
			font-size: 24px;
			font-weight: 400;

			@include mq($from: mobile, $until: large_tablet) {
				white-space: nowrap;
			}
		}

		.s-wrapper {
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			height: 100%;

			.s-input {
				display: flex;
				flex: 0 0 auto;

				form {
					display: flex;
					width: 100%;
				}

				.s-form {
					width: 100%;
				}

				.s-submit {
					width: 90px;
					padding-top: 1.5rem;
					margin-top: auto;

					> button {
						border: none;
						background: transparent;
						cursor: pointer;
						transition: all 0.2s ease-in-out;

						&:hover {
							transform: scale(1.1);
						}
					}
				}

				input {
					font-size: 60px;
					line-height: 60px;
					background: transparent;
					border: none;
					font-weight: 400;
					border-bottom: solid 1px #000;
					outline: none;
					padding: 1rem 0;

					@include mq($from: mobile, $until: large_tablet) {
						font-size: 22px;
						margin-top: 0;
						line-height: 50px;
						padding: 0;
					}

					&:focus::-webkit-input-placeholder {
						color: transparent;
						// outline: none;
					}
				}
			}

			.s-hint-container {
				margin: 2rem 0 0 0rem;
				flex: 1 1 auto;
				overflow: auto;
			}

			.s-hint {
				position: relative;
				width: 100%;
				padding: 0;
				display: block;
				font-size: 22px;

				li {
					margin: 0 0 0.5rem 0;

					.keyword {
						font-weight: bold;
					}
				}

				&.active {
					display: block;
				}
			}
		}

		.s-keyword {
			width: 100%;
			font-weight: 400;
		}

		.s-suggestion {
			display: flex;
			margin: auto;
			max-width: 1000px;
			width: 100%;
			padding: 6rem 5rem 0;

			@include mq($from: mobile, $until: large_tablet) {
				padding: 2rem 1rem 0;
				display: none;
			}

			.s-recent,
			.s-popular {
				width: 50%;

				h6 {
					text-transform: uppercase;
					margin: 0 0 1rem 0;
				}

				ul {
					padding: 0;
					margin: 0;
					font-size: 24px;

					li {
						margin: 0 0 0.5rem 0;
						font-weight: 600;
					}
				}
			}
		}
	}
}

.search-block--inner {
	max-width: 650px;
	width: 100%;
	padding: 4rem 0;
	margin: 0 auto;
	position: relative;

	@include mq($from: mobile, $until: large_tablet) {
		padding: 2rem 0;
	}

	.s-interested {
		font-family: font-face.$heading-base;
		font-size: 24px;
		font-weight: 400;
	}

	.s-wrapper {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		height: 100%;

		.s-input {
			display: flex;

			form {
				display: flex;
				width: 100%;
			}

			.s-form {
				width: 100%;
			}

			.s-submit {
				width: 90px;
				padding-top: 1.5rem;
				margin-top: auto;

				> button {
					border: none;
					background: transparent;
					cursor: pointer;
					transition: all 0.2s ease-in-out;

					&:hover {
						transform: scale(1.1);
					}
				}
			}

			input {
				font-size: 42px;
				background: transparent;
				border: none;
				font-weight: 100;
				border-bottom: solid 1px #000;
				outline: none;
				padding: 1rem 0;

				@include mq($from: mobile, $until: large_tablet) {
					font-size: 22px;
					margin-top: 1.3rem;
				}

				&:focus::-webkit-input-placeholder {
					color: transparent;
					// outline: none;
				}
			}
		}

		.s-hint {
			font-size: 22px;
			margin: 2rem 0 0 0rem;
			padding: 0;
			display: block;
			background-color: #fcf8ef;
			position: absolute;
			width: 100%;
			z-index: 5;

			li {
				margin: 0 0 0.5rem 0;

				.keyword {
					font-weight: bold;
				}
			}

			&.active {
				display: block;
			}
		}
	}

	.s-keyword {
		width: 100%;
		font-weight: 400;
	}

	.s-suggestion {
		display: flex;
		margin: auto;
		max-width: 1000px;
		width: 100%;
		padding: 6rem 5rem 0;

		@include mq($from: mobile, $until: large_tablet) {
			padding: 2rem 1rem 0;
			display: none;
		}

		.s-recent,
		.s-popular {
			width: 50%;

			h6 {
				text-transform: uppercase;
				margin: 0 0 1rem 0;
			}

			ul {
				padding: 0;
				margin: 0;
				font-size: 24px;

				li {
					margin: 0 0 0.5rem 0;
					font-weight: 600;
				}
			}
		}
	}
}

.search-page {
	.search-box {
		background: var(--default);
		padding-bottom: 2rem;
	}
}

.search-page-results {
	background: var(--softgrad);
	padding: 2rem 0;

	.search-box {
		background: var(--softgrad);
		padding-bottom: 2rem;
	}
}

@include mq($until: large_tablet) {
	.search-bar {
		@include mixins.cream-gradient;
		position: fixed;
		width: 0;
		height: 0;
		top: 0;
		right: -100%;
		//min-height: 900px;
		visibility: hidden;
		opacity: 0;
		transition-timing-function: ease-in-out;
		transition: 0.2s;
		overflow: hidden;
		z-index: 55;

		&.active {
			width: 80%;
			right: 0;
		}
	}

	.close-search {
		span:not(.icon):not(.icon__inner),
		&::after {
			display: none;
		}

		.icon--middle {
			width: 55px !important;
		}
	}
}

input[type='text']::placeholder {
	/* Firefox, Chrome, Opera */
	text-align: left;
}
input[type='text']:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	text-align: left;
}
input[type='text']::-ms-input-placeholder {
	/* Microsoft Edge */
	text-align: left;
}
