@use '../settings/font-sizes';
@use '../settings/spacing';
@use '../settings/content-size';

//responsive
@import '~sass-mq';

nav,
.container,
.container--middle {
	max-width: calc(content-size.$wide + spacing.$l * 2);
	padding: 0 spacing.$l;
	margin: 0 auto;
}

.container--middle {
	max-width: calc(content-size.$middle-lg + spacing.$l * 2);
}
