$white: #ffffff;
$black: #000000;
$black_light: #434442;
$purple: #542671;
$blue: #233986;
$teal: #4abdcf;
$red: #af182e;
$light_red: #da3020;
$pink: #e40d7e;
$dark_green: #449436;
$light_green: #48ac33;
$orange: #f0801b;
$yellow: #f9e23a;
$orange2: #e7a443;
$base_text_color: $black;
$beige-gradient: linear-gradient(145.36deg, #fcf9eb 2.15%, #f6e7d7 100%);
$btn-gradient: linear-gradient(90deg, $orange 0%, $yellow 99.48%);

//$link-gradient: linear-gradient(180deg, $orange 0%, $red 100%);

$link-gradient: linear-gradient(90deg, #ff7a00, #ff0f00);

$border-gradient: linear-gradient(180deg, #e7a443 0%, #f4df5b 100%);
$footer-gradient-bg: linear-gradient(279.85deg, #fcf9eb 0%, #f6e7d7 99.48%);
$success: $light_green;
$error: $light_red;
$warning: $yellow;
$amber-gradient: linear-gradient(
	-90deg,
	#fff1d7 0%,
	#fff1cd 45.19%,
	#fdd498 98.9%
);
$peach-gradient: linear-gradient(124.79deg, #ffe9cf 0%, #f3d8d5 98.9%);
$light-beige: #fcf9ee;
$azure: #f5fbff;
$azure-gradient: linear-gradient(20.23deg, #e1f2ff -23.68%, #ffffff 90.03%);

.register-for-email-block {
	.theme-beige-gradient {
		background: $light-beige;
	}
}
.bg_colour_sophisticated {
	background: var(--sophisticated);
}
.bg_colour_default {
	background: var(--default);
}
.bg_colour_softgrad {
	background: var(--softgrad);
}
.bg_colour_softgrad-v {
	background: var(--softgrad-v);
}

.bg_colour_strong {
	background: var(--strong);
}
.z__index {
	z-index: 1;
}
:root {
	--bg: #{$white};
	--primary-color-text: #{$black};
	--secondary-color-text: #{$white};
	--press-bg: #fcf9ee;
	--white-transparent: rgba(255, 255, 255, 0.3);
}

//themed colors
$themes: (
	'amber': (
		'default': #fcf9ee,
		'low-opacity': rgba(252, 249, 238, 0.5),
		'highlight': #ffecc6,
		'sophisticated':
			linear-gradient(
				135deg,
				rgba(255, 241, 215, 1) 0%,
				rgba(255, 241, 205, 1) 50%,
				rgba(253, 219, 152, 1) 100%
			),
		'strong':
			linear-gradient(
				135deg,
				rgba(249, 201, 101, 1) 0%,
				rgba(249, 201, 101, 1) 30%,
				rgba(255, 158, 69, 1) 70%,
				rgba(215, 95, 8, 1) 100%
			),
		'softgrad':
			linear-gradient(
				135deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(252, 246, 234, 1) 100%
			),
		'vibrant-h': linear-gradient(90deg, #f0801b 0%, #f9e23a 100%),
		'vibrant-v': linear-gradient(180deg, #f0801b 0%, #f9e23a 100%),
	),
	'beige': (
		'default': #fcf9ee,
		'low-opacity': rgba(252, 249, 238, 0.5),
		'highlight': #fcf9ee,
		'sophisticated':
			linear-gradient(
				135deg,
				rgba(255, 241, 215, 1) 0%,
				rgba(255, 241, 205, 1) 50%,
				rgba(253, 219, 152, 1) 100%
			),
		'strong':
			linear-gradient(
				135deg,
				rgba(249, 201, 101, 1) 0%,
				rgba(249, 201, 101, 1) 30%,
				rgba(255, 158, 69, 1) 70%,
				rgba(215, 95, 8, 1) 100%
			),
		'softgrad':
			linear-gradient(
				135deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(252, 246, 234, 1) 100%
			),
		'vibrant-h': linear-gradient(90deg, #fcf9ee 0%, #f9e23a 100%),
		'vibrant-v': linear-gradient(180deg, #fcf9ee 0%, #f9e23a 100%),
	),
	'red': (
		'default': #fff7f6,
		'low-opacity': rgba(255, 247, 246, 0.5),
		'highlight': #ffeae8,
		'sophisticated':
			linear-gradient(
				135deg,
				rgba(253, 246, 235, 1) 0%,
				rgba(255, 218, 214, 1) 50%,
				rgba(255, 161, 150, 1) 100%
			),
		'strong':
			linear-gradient(
				135deg,
				rgba(255, 233, 232, 1) 0%,
				rgba(255, 162, 133, 1) 35%,
				rgba(225, 13, 11, 1) 65%,
				rgba(184, 6, 5, 1) 100%
			),
		'softgrad':
			linear-gradient(
				135deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(252, 212, 209, 1) 100%
			),
		'vibrant-h': linear-gradient(90deg, #d9112e 0%, #ff6727 100%),
		'vibrant-v': linear-gradient(180deg, #d9112e 0%, #ff6727 100%),
	),
	'brown': (
		'default': #fcf8ff,
		'low-opacity': rgba(252, 248, 255, 0.5),
		'highlight': #f0e8f5,
		'sophisticated':
			linear-gradient(
				135deg,
				rgba(244, 237, 218, 1) 0%,
				rgba(244, 229, 198, 1) 50%,
				rgba(220, 162, 95, 1) 100%
			),
		'strong':
			linear-gradient(
				135deg,
				rgba(244, 234, 208, 1) 0%,
				rgba(247, 231, 195, 1) 31%,
				rgba(229, 163, 86, 1) 63%,
				rgba(128, 73, 35, 1) 100%
			),
		'softgrad':
			linear-gradient(
				135deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(249, 246, 240, 1) 100%
			),
		'vibrant-h': linear-gradient(90deg, #b84d1f 0%, #ffd595 100%),
		'vibrant-v': linear-gradient(180deg, #b84d1f 0%, #ffd595 100%),
	),
	'blue': (
		'default': linear-gradient(5deg, #E1F2FF -23.68%, #FFF 90.03%),
		'low-opacity': rgba(245, 251, 255, 0.5),
		'highlight': #e3f0fa,
		'sophisticated':
			linear-gradient(
				135deg,
				rgba(230, 244, 255, 1) 0%,
				rgba(232, 245, 255, 1) 64%,
				rgba(246, 231, 255, 1) 100%
			),
		'strong':
			linear-gradient(
				135deg,
				rgba(198, 239, 255, 1) 0%,
				rgba(167, 206, 255, 1) 50%,
				rgba(164, 167, 255, 1) 100%
			),
		'softgrad':
			linear-gradient(
				135deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(225, 242, 255, 1) 100%
			),
		'softgrad-v': linear-gradient(20.23deg, #e1f2ff -23.68%, #ffffff 90.03%),
		'vibrant-h': linear-gradient(90deg, #0057ff 0%, #a6dfff 100%),
		'vibrant-v': linear-gradient(180deg, #0057ff 0%, #a6dfff 100%),
	),
	'purple': (
		'default': #fcf8ff,
		'low-opacity': rgba(252, 248, 255, 0.5),
		'highlight': #f0e8f5,
		'sophisticated':
			//  linear-gradient(135deg, rgba(255, 240, 254, 1) 0%, rgba(236, 208, 225, 1) 50%, rgba(215, 149, 255, 1) 100%),
		linear-gradient(11.81deg, #f0dff6 0.3%, #ffffff 94.83%),
		'strong':
			linear-gradient(
				135deg,
				rgba(237, 215, 240, 1) 0%,
				rgba(211, 183, 234, 1) 25%,
				rgba(160, 89, 231, 1) 65%,
				rgba(203, 29, 175, 1) 100%
			),
		'softgrad':
			linear-gradient(
				135deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(240, 223, 246, 1) 100%
			),
		'vibrant-h': linear-gradient(90deg, #5f0597 0%, #e40d7e 100%),
		'vibrant-v': linear-gradient(180deg, #5f0597 0%, #e40d7e 100%),
	),
	'green': (
		'default': #f7fbf1,
		'low-opacity': rgba(247, 251, 241, 0.5),
		'highlight': #e8f4d7,
		'sophisticated':
			linear-gradient(
				135deg,
				rgba(220, 246, 216, 1) 0%,
				rgba(223, 243, 203, 1) 50%,
				rgba(241, 248, 204, 1) 100%
			),
		'strong':
			linear-gradient(
				135deg,
				rgba(223, 244, 205, 1) 0%,
				rgba(223, 244, 205, 1) 31%,
				rgba(119, 184, 74, 1) 63%,
				rgba(29, 94, 8, 1) 100%
			),
		'softgrad':
			linear-gradient(
				135deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(239, 246, 227, 1) 100%
			),
		'vibrant-h': linear-gradient(90deg, #a8d67a 0%, #449436 100%),
		'vibrant-v': linear-gradient(180deg, #a8d67a 0%, #449436 100%),
	),
	'white': (
		'default': #ffffff,
		'low-opacity': rgba(255, 255, 255, 0.5),
		'highlight': #ffffff,
		'sophisticated': #ffffff,
		'strong':
			linear-gradient(
				135deg,
				rgba(249, 201, 101, 1) 0%,
				rgba(249, 201, 101, 1) 30%,
				rgba(255, 158, 69, 1) 70%,
				rgba(215, 95, 8, 1) 100%
			),
		'softgrad':
			linear-gradient(
				135deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(252, 246, 234, 1) 100%
			),
		'vibrant-h': linear-gradient(90deg, #f0801b 0%, #f9e23a 100%),
		'vibrant-v': linear-gradient(180deg, #f0801b 0%, #f9e23a 100%),
	),
);

// case `EVP-Grad-01`:
// return `linear-gradient(102.31deg,rgb(198 230 237 / ${opacity}%) 0%,rgb(242 221 243 / ${opacity}%) 100%)`
// case `EVP-Grad-02`:
// return `linear-gradient(102.32deg,rgb(194 234 237 / ${opacity}%) 0%,rgb(221 246 215 / ${opacity}%) 100%)`
// case `EVP-Grad-03`:
// return `linear-gradient(102.32deg,rgb(255 232 207 / ${opacity}%) 0%,rgb(251 202 195 / ${opacity}%) 100%)`
// case `EVP-Grad-04`:
// return `linear-gradient(102.32deg,rgb(255 249 211 / ${opacity}%) 0%,rgb(252 223 186 / ${opacity}%) 100%)`
// case `EVP-Grad-05`:
// return `linear-gradient(314.83deg,rgb(253 249 221 / ${opacity}%) 0%,rgb(198 229 235 / ${opacity}%) 100%)`
// case `EVP-Grad-06`:
// return `linear-gradient(314.94deg,rgb(255 209 216 / ${opacity}%) 0%,rgb(221 212 245 / ${opacity}%) 100%)`
// case `EVP-Grad-07`:
// return `linear-gradient(313.41deg,rgb(249 210 223 / ${opacity}%) 0%,rgb(228 248 214 / ${opacity}%) 100%)`
// case `EVP-Grad-08`:
// return `linear-gradient(313.41deg,rgb(213 243 247 / ${opacity}%) 0%,rgb(186 211 240 / ${opacity}%) 100%)`

$EVPthemes: (
	'EVP-Grad-01': (
		'sophisticated':
			linear-gradient(102.31deg, rgb(198 230 237) 0%, rgb(242 221 243) 100%),
	),
	'EVP-Grad-02': (
		'sophisticated':
			linear-gradient(102.32deg, rgb(194 234 237) 0%, rgb(221 246 215) 100%),
	),
	'EVP-Grad-03': (
		'sophisticated':
			linear-gradient(102.32deg, rgb(255 232 207) 0%, rgb(251 202 195) 100%),
	),
	'EVP-Grad-04': (
		'sophisticated':
			linear-gradient(102.32deg, rgb(255 249 211) 0%, rgb(252 223 186) 100%),
	),
	'EVP-Grad-05': (
		'sophisticated':
			linear-gradient(314.83deg, rgb(253 249 221) 0%, rgb(198 229 235) 100%),
	),
	'EVP-Grad-06': (
		'sophisticated':
			linear-gradient(314.94deg, rgb(255 209 216) 0%, rgb(221 212 245) 100%),
	),
	'EVP-Grad-07': (
		'sophisticated':
			linear-gradient(313.41deg, rgb(249 210 223) 0%, rgb(228 248 214) 100%),
	),
	'EVP-Grad-08': (
		'sophisticated':
			linear-gradient(313.41deg, rgb(213 243 247) 0%, rgb(186 211 240) 100%),
	),
);

// create theme classes off theme map
@each $name, $colors in $themes {
	.theme-#{$name} {
		@each $variant, $color in $colors {
			--#{$variant}: #{$color};
		}
	}
}

// create theme classes off theme map
@each $name, $colors in $EVPthemes {
	.#{$name} {
		@each $variant, $color in $colors {
			--#{$variant}: #{$color};
		}
	}
}

:export {
	white: $white;
	base_text_color: $base_text_color;
	black_light: $black_light;
	purple: $purple;
	blue: $blue;
	teal: $teal;
	red: $red;
	pink: $pink;
	dark_green: $dark_green;
	orange: $orange;
	btn-gradient: $btn-gradient;
	success: $success;
	error: $error;
	warning: $warning;
	border-gradient: $border-gradient;
	footer-gradient-bg: $footer-gradient-bg;
	link-gradient: $link-gradient;
}
