@use '../mixins';

@font-face {
	font-family: FSBrabo;
	src: url('~@diageo/designsystem/assets/fonts/FSBraboItalic.woff2') format('woff2'),
		url('~@diageo/designsystem/assets/fonts/FSBraboItalic.woff') format('woff');
	font-style: italic;
}

@font-face {
	font-family: URWGeometric;
	src: url('~@diageo/designsystem/assets/fonts/URWGeometricLight.woff2') format('woff2'),
		url('~@diageo/designsystem/assets/fonts/URWGeometricLight.woff') format('woff');
	font-weight: light;
}

@font-face {
	font-family: URWGeometric;
	src: url('~@diageo/designsystem/assets/fonts/URWGeometricRegular.woff') format('woff2'),
		url('~@diageo/designsystem/assets/fonts/URWGeometricRegular.woff') format('woff');
	font-weight: normal;
}

@font-face {
	font-family: URWGeometric;
	src: url('~@diageo/designsystem/assets/fonts/URWGeometricSemiBold.woff2') format('woff2'),
		url('~@diageo/designsystem/assets/fonts/URWGeometricSemiBold.woff') format('woff');
	font-weight: 600;
}

@font-face {
	font-family: URWGeometric;
	src: url('~@diageo/designsystem/assets/fonts/URWGeometricBold.woff2') format('woff2'),
		url('~@diageo/designsystem/assets/fonts/URWGeometricBold.woff') format('woff');
	font-weight: 900;
}

$heading-head: var(--fonts-headings-font);
$heading-base: var(--fonts-serif-font);

:export {
	heading-head: var(--fonts-headings-font);
	heading-base: var(--fonts-base-font);
}

.urw-font {
	font-family: var(--fonts-serif-font);
	font-weight: 400;
}
