$h1-xl-mobile: 50px;
$h1-mobile: 42px;
$h2-mobile: 32px;
$h3-mobile: 26px;
$h4-mobile: 22px;
$h5-mobile: 16px;
$h6-mobile: 14px;

$h1-xxxl-medium_wide: 120px;
$h1-xxl-medium_wide: 100px;
$h1-xl-medium_wide: 80px;
$h1-medium_wide: 65px;
$h2-medium_wide: 55px;
$h3-medium_wide: 35px;
$h4-medium_wide: 26px;
$h5-medium_wide: 22px;
$h6-medium_wide: 16px;

$link-size_wide: 15px;

$h-lh: 1.4;
$h-lh-h3: 2;
$btn-lh: 1;

$size-xxxl: 35px;
$size-xxl: 28px;
$size-xl: 24px;
$size-l: 20px;
$size-m: 18px;
$size-s: 16px;
$size-xs: 14px;
$size-xxs: 13px;
$size-xxxs: 12px;

$figure-large: 90px;
$figure-small: 44px;

$sm-lh: 1;

$size-lh: 1.5;

$list-lh: 2;

$menu-link: 16px;
$menu-link-lh: 1.1;

$baseline-large: 16px;
$baseline-medium: 14px;
$baseline-small: 12px;

$baseline-lh: 1.25;
