@use '../../assets/styles/tools/responsive';

.graphicCards {
    margin-top: 60px;
    
    @include responsive.mq($from: large_tablet) {
        margin-top: 120px;
    }

    &__headingWrapper {
        margin-bottom: 32px;
        text-align: center;

        @include responsive.mq($from: tablet) {
            margin-bottom: 74px;
        }
    }

    &__smallText {
        display: block;
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 24px;

        @include responsive.mq($from: tablet) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 28px;
        }
    }

    &__levelTopGrid {
        box-sizing: border-box;
        display: grid;
        margin-bottom: 35px;

        @include responsive.mq($from: tablet) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 32px;
            margin-bottom: 114px;
        }
    }

    &__levelTopImageWrapper {
        @include responsive.mq($from: tablet) {
            padding-bottom: 70px;
        }
    }

    &__levelImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__levelTopCard {
        grid-column: 2/-1;
    }

    &__levelMiddleGrid {
        box-sizing: border-box;
        position: relative;
        z-index: 1;

        @include responsive.mq($from: tablet) {
            display: grid;
            grid-template-columns: minmax(0, 1fr) 40% minmax(0, 1fr);
            gap: 32px;
        }
    }

    &__barsTop, 
    &__barsBottom {
        display: none;
        position: absolute;

        @include responsive.mq($from: tablet) {
            display: flex;
        }
    }

    &__barsTop {
        gap: 24px;
        top: -120px;
        left: 20px;
    }

    &__barsBottom {
        gap: 36px;
        bottom: -220px;
        right: 40px;
    }

    &__bar {
        &:nth-of-type(2) {
            transform: translateY(-120px);
        }

        &:nth-of-type(3) {
            transform: translateY(-80px);
        }

        &--thin {
            width: 26px;
        }

        &--wide {
            width: 38px;
        }

        &--small {
            height: 94px;
        }

        &--medium {
            height: 158px;
        }

        &--large {
            height: 224px;
        }
    }

    &__levelMiddleCards {
        grid-column: 2/3;
    }

    &__levelMiddleCard {
        width: 100%;

        &:first-of-type {
            margin-bottom: 42px;
        }
    }

    &__levelMiddleImageWrapper {
        grid-column: 3/-1;
        margin-bottom: 42px;
        
        @include responsive.mq($from: tablet) {
            margin: 0;
            padding: 120px 0 48px;
        }
    }

    &__levelBottomGrid {
        box-sizing: border-box;
        
        @include responsive.mq($from: tablet) {
            display: grid;
            grid-template-columns: 60% 1fr;
            gap: 32px;
        }
    }

    &__levelBottomImageWrapper {
        grid-column: 1;

        @include responsive.mq($from: tablet) {
            max-height: 540px;
        }
    }

    &__levelBottomText {
        align-self: flex-end;
        margin-top: 32px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;

        @include responsive.mq($from: mobile_md) {
            font-size: 20px;
            line-height: 24px;
        }
    }
}