@use '../../assets/styles/tools/responsive';
@use '../../assets/styles/settings/spacing';

$padding-inline: 30px;

.root {
	overflow: hidden;
	background: linear-gradient(35deg, #96d9ed 0%, #d9cfff 45.19%, #fbecd6 98.9%);
	padding: 70px 0;

	@media (width >= 1024px) {
		padding: 120px 0;
	}
}

.container {
	max-width: 1440px;
	width: 100%;
	margin-inline: auto;
}

.grid {
	display: grid;
	grid-template-columns: $padding-inline minmax(0, 2fr) minmax(0, 1fr) $padding-inline;
	align-items: start;
}

.heading {
	grid-column: 2 / -2;
	display: flex;
	flex-direction: column;
	gap: 10px;
	pointer-events: none;

	@media (width >= 1024px) {
		text-align: center;
		align-items: center;
		gap: 20px;
	}

	&Caption {
		font-size: 17px;
		line-height: 26px;
		font-weight: 600;

		@media (width >= 1024px) {
			font-size: 22px;
		}
	}
}

.map {
	grid-column: 1 / -1;
	position: relative;

	// safe space for map
	aspect-ratio: 1018 / 1024;

	> :first-child {
		position: absolute;
		inset: auto -6% 0 -12%;

		@media (width >= 1024px) {
			inset: auto 0 0 -10%;
		}
	}

	@media (width >= 1024px) {
		grid-column: 1 / 3;
	}
}

.info {
	grid-column: 2 / -2;
	position: relative;

	@media (width >= 1024px) {
		grid-column: 3;
		padding-top: 75%;
	}
}
