@use '../settings/colors';
@use '../settings/spacing.scss';
@use '../settings/font-sizes.scss' as fz;
@use '../settings/font-weights' as fw;
@use '../mixins';
@use '../tools/responsive.scss';

.accordion-block {
	//margin: 50px 0 0 0;
	margin: 0;
}

.accordion {
	width: 100%;
	border-bottom: 1px solid colors.$black;

	&.active {
		.accordion__toggler {
			&:after {
				content: '\2212';
			}
		}

		.accordion__body {
			max-height: 9000px;
			// max-height: 2000px;
			// @include responsive.mq($from: tablet) {
			//   max-height: 1000px;
			// }
		}
	}

	&--careers {
		max-width: 1440px;
		width: 100%;
		border-bottom: none;

		.accordion__letter {
			margin-right: 16px;

			@include responsive.mq($from: tablet) {
				margin-right: 60px;
			}

			@include responsive.mq($from: extra_wide_medium) {
				margin-right: 137px;
			}
		}

		.accordion__head {
			display: flex;
			align-items: center;

			@include responsive.mq($from: tablet) {
				padding: spacing.$xl 100px spacing.$xl spacing.$xl;
			}

			@include responsive.mq($from: extra_wide_medium) {
				padding: spacing.$xl 235px spacing.$xl 164px;
			}
		}

		.accordion__heading {
			width: 70%;
			font-size: fz.$h6-medium_wide;

			@include responsive.mq($from: tablet) {
				max-width: 620px;
				width: 100%;
				font-size: fz.$h4-medium_wide;
			}
		}

		.accordion__content {
			max-width: 960px;
			width: 100%;
			margin: 0 auto;

			&--with-image {
				@include responsive.mq($from: tablet) {
					display: flex;
					justify-content: space-between;
					padding: spacing.$xl 0;
				}
			}
		}

		.accordion__content--with-image {
			.accordion__rich-text {
				@include responsive.mq($from: tablet) {
					max-width: 428px;
					width: 100%;
				}
			}
		}

		.accordion__rich-text {
			font-size: fz.$size-m;
		}

		.accordion__toggler {
			right: 10px;

			@include responsive.mq($from: tablet) {
				right: 36px;
			}

			@include responsive.mq($from: extra_wide_medium) {
				right: 170px;
			}
		}
	}

	&__letter {
		font-size: fz.$h4-medium_wide;

		@include responsive.mq($from: tablet) {
			font-size: fz.$h1-medium_wide;
		}

		@include responsive.mq($from: extra_wide_medium) {
			font-size: fz.$h1-xl-medium_wide;
		}
	}

	&__head {
		position: relative;
		padding: spacing.$xs;
		padding-right: calc(spacing.$xxxl + spacing.$s);
		background: var(--highlight);
		cursor: pointer;

		@include responsive.mq($from: tablet) {
			padding: spacing.$m (spacing.$xxxl + spacing.$m) spacing.$m spacing.$l;
		}
	}

	&__heading {
		margin-bottom: 0;
		font-size: fz.$size-xl;
	}

	&__toggler {
		position: absolute;
		top: 50%;
		right: 26px;
		transform: translateY(-50%);
		border: none;
		outline: none;
		width: 30px;
		height: 30px;
		background-color: transparent;

		&:after {
			content: '\002B';
			color: colors.$black;
			font-weight: fw.$bold;
			font-size: 34px;
			position: absolute;
			top: 46%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__body {
		max-height: 0;
		overflow: hidden;
		background-color: colors.$white;
		@include mixins.animate(max-height);
	}

	&__content {
		//font-size: calc(fz.$size-l + 2px);
		font-size: calc(fz.$size-m);
		font-weight: fw.$light;
		padding: calc(spacing.$l + spacing.$xxxs) calc(spacing.$l + 2px);
		line-height: 1.18;

		ul,
		p {
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
		}

		ul {
			list-style-type: disc;
			li {
				margin-bottom: 0.5rem;
			}
		}
	}

	&__image {
		margin-bottom: 30px;

		@include responsive.mq($from: tablet) {
			max-width: 460px;
			width: 100%;
			height: 460px;
			margin-right: 64px;
		}
	}
}
