@use '../settings/spacing';
@use '../settings/colors';
@use '../settings/font-weights';
@use '../settings/font-sizes';
@use '../mixins';

@mixin active-heading {
	background-color: var(--press-bg);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 4px;
		background-color: var(--highlight);
	}
}

.accordion-nav-links {
	width: 100%;

	&__item {
		&.active {
			.accordion-nav-links__opener {
				.icomoon-icon {
					transform: scaleY(-1);
				}
			}

			.accordion-nav-links__link {
				&.first-level {
					&.active {
						@include active-heading();
						padding-left: 16px;
					}
				}

				&.second-level {
					font-size: font-sizes.$size-xs;
					background-color: var(--highlight);
					padding-left: 40px;

					&.active {
						@include active-heading();
						padding-left: 46px;
					}
				}

				&.third-level {
					font-size: font-sizes.$size-xs;
					background-color: var(--press-bg);
					padding-left: 56px;

					&.active {
						@include active-heading();
					}

					&:hover {
						background-color: var(--highlight);
					}
				}
			}
		}
	}

	&__heading {
		position: relative;
	}

	&__link {
		outline: none;
		border: none;
		min-height: 44px;
		padding: 10px 12px;
		font-size: font-sizes.$size-s;
		background-color: colors.$white;
		display: block;
		width: 100%;
		text-decoration: none;
		text-align: left;
		padding-right: 50px;
		cursor: pointer;

		@include mixins.animate(background-color padding-left);

		&:hover {
			background-color: var(--press-bg);
		}
	}

	&__opener {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
		outline: none;
		border: none;
		background-color: transparent;
		width: 40px;

		&:hover {
			background-color: var(--press-bg);
		}

		.icomoon-icon {
			@include mixins.animate(transform);
		}
	}

	&__sublist {
		max-height: 0;
		overflow: hidden;
		z-index: 1;
		position: relative;
		@include mixins.animate(max-height, 0.5s);

		&.open {
			max-height: 100rem;
			@include mixins.animate(max-height, 0.5s);
			transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
		}
	}
}

.accordion-nav-links__list {
	margin: 0;
	padding: 2rem 2rem;
	list-style-type: disc;

	li {
		font-size: 18px;
		line-height: 25px;
		margin: 0 0 1rem 0;
	}
}
