@use '../settings/spacing';
@use '../settings/colors';
@use '../settings/font-weights';
@use '../settings/font-sizes';
@use '../tools/responsive';
@use '../tools/etc';
@use '../mixins';

#age_gate {
	#age_overlay {
		opacity: 0.3 !important;
	}

	#age_content {
		border: none !important;
		border-radius: 0;
		background: colors.$footer-gradient-bg;
		color: colors.$black;
		-webkit-box-shadow: 0 8px 6px -6px rgba(41, 41, 41, 0.25);
		-moz-box-shadow: 0 8px 6px -6px rgba(41, 41, 41, 0.25);
		box-shadow: 0 8px 6px -6px rgba(41, 41, 41, 0.25);

		h1 {
			margin-top: 10px;
		}
		.age_header_title span {
			font-size: 18px;
		}

		.age_drinkiq {
			.age_header_subtitle {
				font-size: 13px;
				line-height: 15px;
			}
			.age_drinkiq_message {
				font-size: 13px;
				line-height: 15px;
			}
			.age_drinkiq_message span {
				font-size: 13px;
				line-height: 15px;
			}
			.age_drinkiq_logo {
				margin-top: 12px;
			}
		}

		.age-input-field-label {
			color: colors.$black !important;
		}
		.age_logo img {
			background-color: transparent;
			padding: 0;
		}

		.langable,
		a {
			color: colors.$black !important;
		}

		#age_age select {
			padding: 0.5rem;
		}

		#age_affirm_text_content {
			color: #000000 !important;
		}
		#age_confirm button#age_confirm_btn {
			position: relative;
			text-decoration: none;
			display: inline-block;
			letter-spacing: 0.2px !important;
			padding: spacing.$xs spacing.$l !important;
			color: colors.$base_text_color !important;
			background: colors.$white !important;
			border: 2px solid colors.$base_text_color !important;
			font-size: font-sizes.$size-m !important;
			font-weight: font-weights.$semibold !important;
			border-radius: 0 !important;
			cursor: pointer;
			outline: none;
			z-index: 0;

			@include mixins.animate(color opacity border);

			&:after {
				content: '';
				background: linear-gradient(
					301.35deg,
					#efd2b1 -7.64%,
					#fcf8dd 72.14%,
					#ffffff 115.8%
				);
				@include etc.fillBlockAbsolute();
				opacity: 0;
				z-index: -1;
				@include mixins.animate(opacity);
			}

			&:hover {
				color: colors.$black;

				&:after {
					opacity: 1;
				}
			}
		}

		.groupA.groupA-step1,
		.groupA.groupA-step2 {
			#age_confirm button#age_confirm_btn {
				// font-size: 11px !important;
				padding-left: 8px !important;
				padding-right: 8px !important;
				//min-height: 57px;
			}
		}
	}
}
