@use '../settings/colors.scss';
@use '../settings/spacing.scss';
@use '../settings/font-sizes.scss' as fz;
@use '../settings/font-weights' as fw;
@use '../mixins';
@use '../tools/responsive.scss';

.alphalist {
	display: flex;
	flex-wrap: wrap;
	font-size: fz.$size-m;
	font-weight: fw.$bold;

	li {
		&:not(:last-child) {
			margin-right: 12px;
		}

		a {
			position: relative;
			text-decoration: none;
			padding: 4px;

			&.disabled {
				color: #666666;
				pointer-events: none;
			}

			&.target {
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 2px;
					transition: background-color 500ms linear;
					background: #f0801b;
				}
			}
		}
	}
}
