@use '../settings/colors';
@use '../settings/spacing';
@use '../settings/font-sizes';
@use '../mixins';

.aside-story {
	max-width: 224px;
	width: 100%;

	&--with-border {
		position: relative;
		padding-left: spacing.$l;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 4px;
			background: colors.$border-gradient;
		}
	}

	&__title {
		letter-spacing: 2px;
		margin-bottom: spacing.$xs;
	}
}
