@use '../tools/responsive';

.blockquote-primary {
	width: 100%;
	margin: 0 auto 100px !important;

	.content-blurb {
		margin: 0 !important;
	}

	&.promo-content {
		padding: 0;
	}

	&.in-slider {
		margin: 50px auto 100px !important;
	}
}

.blockquote-secondary {
	width: 100%;
	margin: 0 auto 100px;

	.container {
		max-width: 1200px;
		width: 100%;
	}

	.blockquote-a {
		position: relative;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		max-width: 100%;

		@include responsive.mq($from: large_tablet) {
			max-width: 600px;
		}
	}
}
