@import '~sass-mq';

.blockquote-a {
	font-size: 28px;
	max-width: 768px;
	padding: 2rem 0 0 0;
	//margin: 3rem 0;
	position: relative;
	width: 100vw;
	position: relative;
	left: -120px;
	font-family: 'FSBrabo', sans-serif;
	font-size: 28px;
	line-height: 38px;

	> span {
		content: '';
		position: absolute;
		width: 100%;
		height: 4px;
		display: block;
		margin: 0;
		right: 0;
		top: 0;
		background: var(--vibrant-h);
	}

	@include mq($until: large_tablet) {
		width: 100%;
		left: 0;
		font-size: 26px;
		line-height: 32px;
	}

	@include mq($until: tablet) {
		width: auto;
	}

	.quote-from {
		font-size: 16px;
		line-height: 22px;
		margin: 2rem 0 0 0;
		font-family: 'URWGeometric', sans-serif;
		span {
			display: block;
			background: var(--vibrant-h);
		}
	}
}

.story-quote-block {
	.blockquote-a {
		left: 0;
		margin-left: 0;
	}
}

.blockquote-b {
	font-size: 28px;
	width: 100%;
	padding: 0;
	margin: 3rem 0;
	position: relative;
	font-family: 'FSBrabo', sans-serif;
	font-size: 28px;
	line-height: 38px;

	&.no-vertical-margin {
		margin: 0;
	}

	> span {
		content: '';
		position: absolute;
		width: 100%;
		height: 4px;
		display: block;
		margin: 0;
		right: 0;
		top: 0;
	}

	@include mq($until: large_tablet) {
		width: 100%;
		left: 0;
		font-size: 26px;
		line-height: 32px;
	}
	.quote-from {
		font-size: 16px;
		line-height: 22px;
		margin: 0;
		font-family: 'URWGeometric', sans-serif;
		span {
			display: block;
		}
	}
}
