@use '../settings/colors';
@use '../settings/spacing.scss';
@use '../settings/font-sizes.scss';
@use '../settings/font-weights';
@use '../mixins';
@use '../tools/responsive.scss';
@import '~sass-mq';
$device-md: 1024px;

.board-of-directors-profile .person-profile-block {
	img {
		@include responsive.mq($until: large_tablet) {
			object-fit: contain;
		}
	}
}

.bod__list {
	ul {
		margin: 0;
		display: column;
		column-count: 3;
		padding-left: 0;
		@include mq($until: large_tablet) {
			column-count: 2;
		}
		@include mq($until: mobile) {
			column-count: 1;
		}
	}

	ul li {
		width: 100%;
		display: inline-block;
	}
	ul li a {
		font-size: 16px;
		line-height: 19px;
		text-decoration: none;
		font-weight: font-weights.$normal;
		position: relative;
		width: 85%;
		margin-bottom: 0.5rem;
		padding-bottom: 0.5rem;
		@include mq($until: large_tablet) {
			width: 100%;
		}
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			width: calc(100% - 2rem);
			left: 0;
			right: 0;
			height: 2px;
			transition: background 400ms linear;
			background: transparent;
		}
		&:hover::before {
			background: #000;
		}
		&::after {
			content: '';
			background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.78786 0.730852L12.5752 4.54345L0.475292 4.50327L0.471972 5.50327L12.5719 5.54344L8.75931 9.3308L9.45698 10.0331L14.4736 5.04975L9.49019 0.0331797L8.78786 0.730852Z' fill='black'/%3e%3c/svg%3e ")
				no-repeat 50% 50%;
			padding: 0.5rem 1rem;
			position: absolute;
			right: 0rem;
		}
	}
}

.board-of-directors .flex-col-md-4:hover {
	.card_person_info {
		background: linear-gradient(
			135deg,
			rgba(230, 244, 255, 1) 0%,
			rgba(232, 245, 255, 1) 64%,
			rgba(246, 231, 255, 1) 100%
		);
	}
	// img{
	//   transform: scale(1.1);
	// }
}

.board-of-directors .card_person_image {
	position: relative;
	min-height: 320px;
	overflow: hidden;
	.fit-to-object {
		position: absolute;
		transition: 0.35s ease-in-out;
	}
}

.board-of-directors .card_person_info {
	transition: background 0.35s ease-in-out;
	h2 {
		font-size: 26px;
		line-height: 32px;
		margin-bottom: 0.5rem;
		margin-top: 0;
	}
	p {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	a.full__link::before {
		width: calc(100% - 16%);
		left: 8%;
		@media (max-width: $device-md) {
			width: 100%;
			left: 0;
		}
	}
}
