@use '../settings/spacing';
@use '../settings/colors';
@use '../settings/font-weights';
@use '../settings/font-sizes';
@use '../tools/responsive';
@use '../tools/etc';
@use '../mixins';

@mixin svgColor {
	.icon {
		svg {
			fill: colors.$black !important;
			@include mixins.animate(fill);
		}
	}
}

.btn {
	position: relative;
	text-decoration: none;
	display: inline-block;
	letter-spacing: 0.2px;
	padding: spacing.$xs spacing.$l;
	color: colors.$base_text_color;
	background: colors.$white;
	border: 2px solid colors.$base_text_color;
	font-size: font-sizes.$size-m;
	font-weight: font-weights.$semibold;
	cursor: pointer;
	outline: none;
	z-index: 0;

	@include mixins.animate(color opacity border);

	&:after {
		content: '';
		background: linear-gradient(
			301.35deg,
			#efd2b1 -7.64%,
			#fcf8dd 72.14%,
			#ffffff 115.8%
		);
		@include etc.fillBlockAbsolute();
		opacity: 0;
		z-index: -1;
		@include mixins.animate(opacity);
	}

	@include svgColor;

	&:hover {
		@include svgColor;
		color: colors.$black;
		&:after {
			opacity: 1;
		}
	}

	&--tertiary {
		border: none;
	}

	&--ghost {
		color: colors.$white;
		border-color: colors.$white;
		background-color: transparent;

		&:hover {
			color: colors.$black;
			border-color: transparent;
			border: 2px solid transparent;

			.btn__icon {
				svg {
					fill: colors.$black !important;
				}
			}
		}

		.btn__icon {
			svg {
				fill: colors.$white !important;
				@include mixins.animate(fill);
			}
		}
	}

	&--small {
		padding: calc(spacing.$xxxs + 2px) (spacing.$xxs + 2px);
		font-size: font-sizes.$size-xxs;
	}

	&--large {
		padding: spacing.$m spacing.$xxl;
		font-size: calc(font-sizes.$size-l + 2px);
	}

	&--loading,
	&--disabled {
		opacity: 0.6;
		pointer-events: none;
		@include svgColor;
	}

	&.btn-play {
		width: 100px;
		height: 100px;
		background-color: colors.$black;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: spacing.$m;

		&--round {
			border-radius: 50%;
		}

		&:after {
			display: none;
		}

		svg {
			fill: colors.$white !important;
		}

		.btn__inner {
			width: 100%;
		}

		.btn__icon {
			margin: 0;
			width: 54px;
			height: 54px;
		}

		.btn__icon-play {
			display: block;
		}

		.btn__icon-play-hover {
			display: none;
		}

		&:hover {
			background-color: colors.$black;

			.btn__icon-play {
				display: none;
			}

			.btn__icon-play-hover {
				display: block;
			}
		}
	}

	&__inner {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: font-sizes.$btn-lh;
	}

	&__icon {
		width: 16px;
		height: 16px;
		margin-right: spacing.$xxs;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__icon--right {
		margin-right: 0;
		margin-left: spacing.$xxs;
	}

	&__loader {
		position: absolute;
	}

	.icon {
		margin-right: 7px;
	}
}
