@use '../settings/colors';
@use '../settings/spacing.scss';
@use '../settings/font-sizes.scss';
@use '../settings/font-weights';
@use '../mixins';
@use '../tools/responsive.scss';
@import '~sass-mq';

.career__list__item {
	.flex-col-md-12 {
		@include responsive.mq($until: wide) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	h4 {
		padding-right: 56px;
	}
	h5 {
		font-family: 'FSBrabo', sans-serif;
		font-weight: font-weights.$normal;
		letter-spacing: -1px;
		font-size: 16px;
		margin: 0;
		line-height: 25px;
		padding-right: 56px;
	}
	ul {
		margin: 0;
		column-count: 2;
		@include responsive.mq($until: tablet) {
			column-count: 1;
		}
	}
	ul li {
		position: relative;
		width: 100%;
		background: #fff;
		margin-bottom: 0.3rem;
		padding: 1rem;
		transition: background 400ms linear;
		display: inline-block;
		webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
		overflow: hidden;
		&:hover {
			background: linear-gradient(
				135deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(240, 223, 246, 1) 100%
			);
		}
	}

	ul li {
		.icon_wrapper {
			position: absolute;
			right: 0;
			width: 56px;
			transform: translateY(-50%);
			top: 50%;
			height: 100%;
		}
		.icon_wrapper span {
			display: flex;
			align-items: center;
			height: 100%;
		}
	}
}
