@use '../settings/spacing';
@use '../settings/colors';
@use '../settings/font-sizes';
@use '../settings/font-weights';
@use '../tools/responsive';
@use '../mixins';

.checkbox-filed {
	position: relative;
	display: flex;
	padding-left: 30px;

	&__input {
		display: none;

		&:checked {
			+ .checkbox-filed__marker {
				background-color: colors.$black;
				&:after {
					content: '';
					position: absolute;
					top: 43%;
					left: 50%;
					width: 3px;
					height: 8px;
					border: solid colors.$white;
					border-width: 0 2px 2px 0;
					transform: translate(-50%, -50%) rotate(45deg);
				}
			}
		}
	}

	&__marker {
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		border-radius: 2px;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid colors.$black;
	}

	&__text {
		display: inline-block;
		vertical-align: middle;
	}
}
