@use '../tools/responsive';
@use '../settings/font-weights';
@use '../settings/font-sizes';

.figure {
	&__title {
		font-size: font-sizes.$figure-small;
		font-weight: font-weights.$semibold;

		@include responsive.mq($from: large_tablet) {
			font-size: font-sizes.$figure-small;
		}
	}

	&__description {
		font-size: font-sizes.$size-s;
		max-width: 176px;
		width: 100%;

		@include responsive.mq($from: large_tablet) {
			font-size: font-sizes.$size-m;
		}
	}

	&--large {
		.figure__title {
			font-size: font-sizes.$figure-small;

			@include responsive.mq($from: large_tablet) {
				font-size: font-sizes.$figure-large;
			}
		}

		.figure__description {
			font-size: font-sizes.$size-m;
			max-width: 192px;

			@include responsive.mq($from: large_tablet) {
				font-size: font-sizes.$size-l;
			}
		}
	}
}
