@use '../mixins';

.icon.icon {
	&--ex-small {
		width: 11px;
	}

	&--small {
		width: 16px;
	}

	&--middle {
		width: 24px;
	}

	&--large {
		width: 64px;
	}

	&__inner {
		display: flex;
	}

	path {
		@include mixins.animate(path);
	}
}

.icon_calendar {
	padding: 0rem 0.4rem;
	margin-right: 0.5rem;
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 2H11V1H10V2H6V1H5V2H3C2.4 2 2 2.4 2 3V13C2 13.6 2.4 14 3 14H13C13.6 14 14 13.6 14 13V3C14 2.4 13.6 2 13 2ZM13 13H3V6H13V13ZM13 5H3V3H5V4H6V3H10V4H11V3H13V5Z' fill='black'/%3e%3c/svg%3e ")
		no-repeat 50% 80%;
}

.icon___right__arrow {
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.78786 0.730852L12.5752 4.54345L0.475292 4.50327L0.471972 5.50327L12.5719 5.54344L8.75931 9.3308L9.45698 10.0331L14.4736 5.04975L9.49019 0.0331797L8.78786 0.730852Z' fill='black'/%3e%3c/svg%3e ")
		no-repeat 50% 50%;
}

.icon_right_rounded {
	padding: 0.5rem 0.8rem;
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.7833 6.85693L10.9128 7.69223L14.7865 11.4092H6.85742V12.5905H14.7865L10.9128 16.3073L11.7833 17.1426L17.1431 11.9998L11.7833 6.85693Z' fill='black'/%3e%3crect x='0.428571' y='0.428571' width='23.1429' height='23.1429' rx='11.5714' stroke='black' stroke-width='0.857143'/%3e%3c/svg%3e ")
		no-repeat 50% 50%;
}

.icon__pin.purple {
	padding: 0.2rem 0.4rem;
	margin-right: 0.5rem;
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 0C2.692 0 0 2.71067 0 6.04333C0 10.7787 5.436 15.668 5.66733 15.8733C5.76267 15.958 5.88133 16 6 16C6.11867 16 6.23733 15.958 6.33267 15.874C6.564 15.668 12 10.7787 12 6.04333C12 2.71067 9.308 0 6 0ZM6 9.33333C4.162 9.33333 2.66667 7.838 2.66667 6C2.66667 4.162 4.162 2.66667 6 2.66667C7.838 2.66667 9.33333 4.162 9.33333 6C9.33333 7.838 7.838 9.33333 6 9.33333Z' fill='url(%23paint0_linear_2325_170711)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_2325_170711' x1='5.99981' y1='16' x2='6.01385' y2='-0.000212187' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23A8D67A'/%3e%3cstop offset='1' stop-color='%23449436'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ")
		no-repeat 50% 50%;
}
.icon__pin.blue {
	padding: 0.2rem 0.4rem;
	margin-right: 0.5rem;
	background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='16' viewBox='0 0 12 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 0C2.692 0 0 2.71067 0 6.04333C0 10.7787 5.436 15.668 5.66733 15.8733C5.76267 15.958 5.88133 16 6 16C6.11867 16 6.23733 15.958 6.33267 15.874C6.564 15.668 12 10.7787 12 6.04333C12 2.71067 9.308 0 6 0ZM6 9.33333C4.162 9.33333 2.66667 7.838 2.66667 6C2.66667 4.162 4.162 2.66667 6 2.66667C7.838 2.66667 9.33333 4.162 9.33333 6C9.33333 7.838 7.838 9.33333 6 9.33333Z' fill='%234ABDCF'/%3e%3c/svg%3e ")
		no-repeat 50% 50%;
}
