@import '~sass-mq';

.pagination {
	@include mq($until: tablet) {
		padding-left: 0;
	}
	&.center {
		margin: 0 auto;
		width: fit-content;
	}
	display: flex;
	justify-content: flex-start;
	width: 100%;
	list-style: none;
	font-size: 16px;
	line-height: 22px;
	font-family: 'URWGeometric', sans-serif;
	font-weight: 600;
	gap: 16px;
	@include mq($from: tablet) {
		gap: 12px;
	}
	@include mq($from: large_tablet) {
		gap: 30px;
	}
	&__item {
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&-active {
			background: #fcf8ef;
		}
		&__break::marker {
			color: transparent;
		}
		&__nav {
			display: flex;
			gap: 10px;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			& > svg {
				margin-top: 2px;
			}
			&.rotate__180 > svg {
				transform: rotate(180deg);
			}
		}
	}
}

.pagination-centered {
	display: flex;
	justify-content: center;
}
