@use '../settings/spacing';
@use '../settings/font-sizes';
@use '../settings/colors';

.society-target {
	position: relative;
	background-color: #f7fbf1;

	&__border {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 4px;
		background: var(--vibrant-h);
	}

	&__body {
		padding: spacing.$s spacing.$xl;
	}

	&__text {
		font-size: font-sizes.$size-m;
	}

	&__track-icon {
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		overflow: hidden;
		background-color: #e8f4d7;
		margin-right: 12px;

		.icomoon-icon {
			display: flex;
		}
	}

	&__track-text {
		margin-bottom: 0;
	}
}
