@import '~sass-mq';

.tile-listings {
	margin: 0 auto;

	padding-bottom: 28px;

	.container {
		max-width: 1018px;
	}

	.tile-listings-header {
		background: linear-gradient(
			180deg,
			rgba(196, 196, 196, 0.3) 41.96%,
			rgba(196, 196, 196, 0) 100%
		);
		text-align: center;
		padding-top: 100px;
		padding-bottom: 70px;
	}

	.tile-listings-pretitle {
		font-size: 15px;
		line-height: 18px;
		font-weight: 600;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	.tile-listings-title {
		font-size: 36px;
		line-height: 36px;
		font-weight: 700;
	}
	.tile-listings-subtitle {
		font-weight: 300;
		font-size: 20px;
		line-height: 25px;
		margin-top: 16px;
	}

	.tile-listing-tile {
		border-top: 1px solid;
		padding-top: 12px;
		padding-bottom: 28px;
		cursor: pointer;
	}

	.tile-listing-tile-title {
		font-size: 20px;
		line-height: 24px;
		line-height: 1;
		font-weight: 600;

		display: flex;
		align-items: center;
		justify-content: space-between;

		.tile-listing-tile-icon {
			line-height: inherit;
			margin-bottom: -4px;
			padding-left: 12px;
		}
	}

	.tile-listing-tile-subtitle {
		margin-top: 8px;
		font-size: 16px;
		line-height: 25px;
		font-weight: 400;
	}

	.tile-listings-cta {
		text-align: center;
		text-transform: uppercase;
		padding-top: 24px;

		button {
			text-transform: inherit;
			font-weight: 400;
		}
	}

	@include mq($from: mobile_md) {
		.tile-listings-tiles {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 0px 40px;
		}
	}
}
