@use 'settings';
@use 'tools';
@use 'generic';
@use 'elements';
@use 'objects';
@use 'components';
@use 'utilities';
@use 'sections';
@use 'blocks';

// carousel classes
.swiper-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.swiper-pagination-bullet {
	// cursor: pointer;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 4px;
	border: 1px solid black;
	z-index: 2;
}

.swiper-pagination-bullet-active {
	color: #000;
	background: #000;
	border-radius: 50%;
	z-index: 2;
}

// .swiper-slide {
//   width: 90%;
//   // margin-right: 30px;
// }

// .swiper {
//   width: 100%;
//   height: 100%;
// }

// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;

//   /* Center slide text vertically */
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .swiper-slide {
//   width: 80%;
// }

// .swiper-slide:nth-child(2n) {
//   width: 60%;
// }

// .swiper-slide:nth-child(3n) {
//   width: 40%;
// }
// #app {
//   height: 100%;
// }
// html,
// body {
//   position: relative;
//   height: 100%;
// }

// body {
//   background: #eee;
//   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//   font-size: 14px;
//   color: #000;
//   margin: 0;
//   padding: 0;
// }

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	width: 60%;

	// background: #fff;
	display: flex;
	height: auto;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.business-sub-area-carousel {
	.swiper-wrapper {
		align-items: flex-start;
	}
}

.rich-text-editor {
	.braboitalics {
		font-size: 26px !important;
		line-height: 32px !important;
		font-weight: 400 !important;
		font-family: 'FS Brabo', sans-serif;
		font-style: italic;
	}
}
