@use '../settings/colors';
@use '../settings/font-sizes';
@use '../settings/spacing';
@use '../settings/font-weights';
@use '../settings/font-face';
@import '~sass-mq';

html,
body {
	min-height: 100vh;
	line-height: font-sizes.$h-lh;
	font-family: var(--fonts-base-font);
	background-color: #fff;
	color: #000;
}

* {
	box-sizing: border-box;
}

p {
	margin: 0 0 spacing.$s;
}

a {
	display: inline-block;
	color: #000;
}

ul {
	list-style: none;
}

main {
	padding-top: 110px; // why!?
	//padding-top: 70px;
	background: var(--default);

	@include mq($until: tablet) {
		padding-top: 80px;
	}
}

.banner-padding {
	padding-top: 172px;

	@include mq($until: tablet) {
		padding-top: 172px;
	}
}

.rte-themed {
	background: var(--default);
}

.rte-themed-low-opacity {
	background: var(--low-opacity);
}

i,
em {
	font-family: FSBrabo, sans-serif;
	font-weight: font-weights.$normal;
	letter-spacing: -1px;
}

.bg_colour_semi_full::before {
	content: '';
	position: absolute;
	z-index: 0;
	top: -15rem;
	width: 100vw;
	height: 38.8rem;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	background: linear-gradient(20.23deg, #e1f2ff -23.68%, #fff 90.03%);

	@include mq($until: tablet) {
		top: 0;
		height: 100%;
	}
}

.rich-text-editor {
	width: 100%;
	position: relative;
	overflow-wrap: break-word;

	&.full-height {
		height: 100%;
	}

	b,
	strong {
		font-weight: font-weights.$semibold;
		color: colors.$black;
	}

	i,
	em {
		font-family: FSBrabo, sans-serif;
		font-weight: font-weights.$normal;
		letter-spacing: -1px;
	}

	p a.bottom-left,
	a.bottom-left,
	p.bottom-left {
		position: absolute;
		bottom: 2rem;
	}

	.standfirst {
		font-size: 35px;
		line-height: 40px;
		font-weight: font-weights.$light;

		@include mq($until: large_tablet) {
			font-size: 28px;
			line-height: 35px;
		}
	}

	.intro {
		font-size: 28px;
		line-height: 34px;
		font-weight: font-weights.$light;

		@include mq($until: large_tablet) {
			font-size: 24px;
			line-height: 29px;
		}
	}

	p {
		font-size: font-sizes.$size-m;
		line-height: 25px;
		font-weight: font-weights.$normal;
		color: colors.$black;

		i,
		em {
			font-weight: font-weights.$light;
		}
	}

	.bodysmall {
		font-size: 16px;
		line-height: 24px;
		font-weight: font-weights.$normal;

		i,
		em {
			font-weight: font-weights.$light;
		}
	}

	a.external-link {
		position: relative;
		display: inline-block;
		font-weight: font-weights.$semibold;
		text-decoration: none;
		padding: 0.5rem 0;
		margin-bottom: 0.5rem;
		font-size: font-sizes.$size-m; //18px
		line-height: 25px;

		&:hover::before {
			background: #000;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			width: calc(100% - 2.5rem);
			left: 0;
			right: 0;
			height: 2px;
			transition: background 500ms linear;
			background: colors.$link-gradient;
		}

		&::after {
			content: '';
			position: relative;
			margin-left: 0.5rem;
			top: 0;
			padding: 0 1rem;
			background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.5 21H4.5C3.6 21 3 20.4 3 19.5V4.5C3 3.6 3.6 3 4.5 3H12V4.5H4.5V19.5H19.5V12H21V19.5C21 20.4 20.4 21 19.5 21ZM15 1.5V3H19.95L13.5 9.45L14.55 10.5L21 4.05V9H22.5V1.5H15Z' fill='black'/%3e%3c/svg%3e ")
				no-repeat 50% 50%;
		}
	}

	a.internal-link {
		position: relative;
		display: inline-block;
		font-weight: font-weights.$semibold;
		text-decoration: none;
		padding: 0.5rem 0;
		margin-bottom: 0.5rem;
		font-size: font-sizes.$size-m; //18px
		line-height: 25px;
		transition: all 0.2s ease-in-out;

		// &:hover::before {
		//   background: #000;
		// }
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			width: calc(100% - 2.5rem);
			left: 0;
			right: 0;
			height: 2px;
			transition: background 500ms linear;
			background: colors.$link-gradient;
		}

		&::after {
			content: '';
			position: relative;
			margin-left: 0.5rem;
			top: 0;
			padding: 0 1rem;
			background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.95 1.55L18.65 7.25H0.5V8.75H18.65L12.95 14.45L14 15.5L21.5 8L14 0.5L12.95 1.55Z' fill='black'/%3e%3c/svg%3e ")
				no-repeat 50% 80%;
			background-size: 50%;
			transition: all 0.2s ease-in-out;
		}

		&:hover {
			&::before {
				transition: all 0.2s ease-in-out;
				background: linear-gradient(
					10deg,
					rgba(255, 15, 0, 100%),
					rgba(255, 122, 0, 100%) 50% 50%
				);
			}

			&::after {
				transition: all 0.2s ease-in-out;
				background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.95 1.55L18.65 7.25H0.5V8.75H18.65L12.95 14.45L14 15.5L21.5 8L14 0.5L12.95 1.55Z' fill='black'/%3e%3c/svg%3e ")
					no-repeat 70% 80%;
				background-size: 50%;
			}
		}
	}

	a.download-link {
		position: relative;
		display: inline-block;
		font-weight: font-weights.$semibold;
		text-decoration: none;
		padding: 0.5rem 0;
		margin-bottom: 0.5rem;
		font-size: font-sizes.$size-m; //18px
		line-height: 25px;

		&:hover::after {
			background: #000;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			width: calc(100% - 31px);
			left: 31px;
			right: 0;
			height: 2px;
			transition: background 500ms linear;
			background: colors.$link-gradient;
		}

		> span {
			font-weight: font-weights.$normal;
			font-size: 16px;
		}

		&::before {
			content: '';
			position: relative;
			margin-right: 0.5rem;
			top: 4px;
			padding: 0 12px;
			background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6L10.3 5.3L6.5 9.1V0L5.5 0V9.1L1.7 5.3L1 6L6 11L11 6ZM11 11V13H1V11H0L0 13C0 13.6 0.4 14 1 14H11C11.6 14 12 13.6 12 13V11H11Z' fill='black'/%3e%3c/svg%3e")
				no-repeat 50% 50%;
		}
	}
}

.rich-text-editor.anchored-bottom {
	position: absolute;
	left: 50px;
	bottom: 0;
	width: calc(100% - 50px);

	@include mq($until: large_tablet) {
		position: relative;
		left: 0;
		width: 100%;
	}

	> p {
		margin-bottom: 0;
	}
}

.rich-text-editor p {
	display: block;

	a:not(.btn, .link, .external-link, .internal-link, .download-link) {
		display: inline;
		color: colors.$black;
		text-decoration-color: transparent;
		text-decoration: underline;
		font-weight: font-weights.$semibold;
		position: relative;
		transition: opacity 0.25s ease-out;

		&:link {
			color: colors.$black;
		}

		&:visited {
			color: colors.$black;
		}

		&:active {
			color: colors.$black;
		}

		&:hover {
			opacity: 0.5;
		}
	}
}

.rich-text-editor ul {
	list-style: disc;
	margin: 0 0 1rem;
	padding-left: 2rem;

	> li {
		position: relative;
		margin: 0 0 1rem;
		color: colors.$black;
		font-size: font-sizes.$size-m;
		line-height: 25px;

		i,
		em {
			font-family: FSBrabo, sans-serif;
			font-weight: font-weights.$normal;
			letter-spacing: -1px;
		}

		b,
		strong {
			font-weight: font-weights.$semibold;
		}

		a {
			display: inline;
			color: colors.$black;
			text-decoration-color: transparent;
			text-decoration: underline;
			font-weight: font-weights.$semibold;
			transition: opacity 0.25s ease-out;

			&:hover {
				opacity: 0.5;
			}

			&:link {
				color: colors.$black;
			}

			&:visited {
				color: colors.$black;
			}

			&:active {
				color: colors.$black;
			}
		}

		> ul {
			> li {
				margin: 1rem 0;
				font-size: font-sizes.$size-m;
			}
		}
	}
}

.rich-text-editor ol {
	counter-reset: ol;
	margin: 0 0 1rem;
	padding-left: 2rem;

	> li {
		position: relative;
		margin: 0 0 1rem;
		color: colors.$black;
		font-size: font-sizes.$size-m;
		line-height: 25px;

		b,
		strong {
			font-weight: font-weights.$semibold;
		}

		i,
		em {
			font-family: FSBrabo, sans-serif;
			font-weight: font-weights.$normal;
			letter-spacing: -1px;
		}

		a {
			display: inline;
			color: colors.$black;
			text-decoration-color: transparent;
			text-decoration: underline;
			font-weight: font-weights.$semibold;
			transition: opacity 0.25s ease-out;

			&:hover {
				opacity: 0.5;
			}

			&:link {
				color: colors.$black;
			}

			&:visited {
				color: colors.$black;
			}

			&:active {
				color: colors.$black;
			}
		}
	}

	li > ol {
		> li {
			margin: 1rem 0;
		}
	}
}

.fit-to-object {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover !important;
}

.right__aligned {
	text-align: right;
}

a.full__link {
	text-decoration: none;
	width: 100%;
}

a.full__link::before {
	inset: 0;
	content: '';
	overflow: hidden;
	position: absolute;
	width: 100%;
	white-space: nowrap;
	z-index: 1;
}

table {
	width: 100% !important;
	border-bottom: 2px solid colors.$black;
	border-top: 1px solid colors.$black;
	margin-top: 3rem;
	margin-bottom: 3rem;
	border-collapse: collapse;

	@include mq($until: large_tablet) {
		width: 100vw !important;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}
}

.results {
	@include mq($until: tablet) {
		/* Force table to not be like tables anymore */
		table,
		thead,
		tbody,
		th,
		td,
		tr {
			display: block;
			height: auto !important;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr {
			margin: 0 0 1rem;
		}

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
			width: 100% !important;
		}

		td::before {
			/* Now like a table header */
			position: absolute;

			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}
	}
}

table thead {
	width: 100%;
	border-bottom: 2px solid colors.$black;
}

table thead tr {
	background-color: #fff;
}

table tr:nth-child(even) {
	background-color: #fcf8efb2;
	border: none;
}

table tr:nth-child(odd) {
	background-color: #fff;
	border: none;
}

table th {
	text-align: left;
	padding: 1rem 1.5rem;
	font-size: font-sizes.$size-m;
	line-height: font-sizes.$h-lh;
	font-weight: font-weights.$medium;

	@include mq($until: large_tablet) {
		padding: 0.8rem;
	}
}

table td {
	text-align: left;
	padding: 1rem 1.5rem;
	font-size: font-sizes.$size-m;
	line-height: font-sizes.$h-lh;
	font-weight: font-weights.$medium;

	@include mq($until: large_tablet) {
		padding: 0.8rem;
	}
}

table.results {
	width: 100%;
	border: none;
	margin: 1rem 0 5rem;
	border-collapse: collapse;

	tr {
		border-bottom: solid 1px colors.$black;
	}

	td {
		text-align: left;
		padding: 1rem 0;
	}

	tr,
	tr:nth-child(even) {
		background-color: colors.$white;
	}

	th {
		text-transform: uppercase;
		font-family: font-face.$heading-head;
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 23px;
		padding: 1rem 0;
	}

	@include mq($until: large_tablet) {
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
}

div[class^='dg_footer_row_'],
div[class*=' dg_footer_row_'] {
	@include mq($until: tablet) {
		text-align: left;
	}

	@include mq($from: tablet, $until: large_tablet) {
		ul {
			flex-flow: row wrap !important;

			li {
				display: inline-block !important;
				line-height: 1.25 !important;
				margin: 0 2rem 1rem 0 !important;
			}
		}
	}
}
